<ion-content>
  <div class="container">
   
    <img id="background1" src="../../assets/outboundPOPup                                                                .svg">
    <img id="people" src="../../assets/ReclaimerPopup.svg">
    <img id="bins" src="../../assets/binsPopup  2.svg">
    <div class="form">
      <h3>Create Your Profile Here</h3>
      <div class="profile" >
        <div class="ProPic">
          <img  src="../../assets/boxes.jpg">
        </div>
        <!-- <div class="Name">
          <h1> {{profile.name}} {{profile.surname}}</h1>
        </div> -->
      </div>
  
    <div class="inputs">
      <input placeholder="name" >
      <input placeholder="Surname" >
      <input  placeholder="Position" >
      <input  placeholder="Email Address" >
      <input placeholder="phone number" >
    <ion-button color="clear" >Create Profile</ion-button>
   </div>
       
  </div>
  </div>
  
  </ion-content>