
<ion-content>
<div class="container" >
  <div class="head">
    <p>Driver's Profile & History</p>
  </div>
<div class="top" padding>
  <div class="driverDetails" >
    <div class="profilepic">
      <p>Driver's Personal Information</p>
      <div class="profileimage"><img src="../../assets/girl.jfif"></div>
    </div>
    <div class="profiledetails">
      <p id="name">Fumani Zondo</p>
      
      <p>Driver</p>
      <p>Outsource</p>
      <p id="email">Fumza@gmail.com</p>
      <p>0604869924</p>
      <p id="adres">1288 Tugela str <br>Zone 1 <br> Diepkloof <br> Johannesburg</p>
      <button>Edit Profile</button>
    </div>
  </div>

  <div class="tripDetails">
    <h3>Details Per Trip</h3>
    <div class="scrollreceipts" >
      <div class="card">
        <div class="leftside">
          <p class="time">25/02/2020</p>
          <p>Reference No.</p>
          <p>Truck Load</p>
          <p>Destination</p>
          <p>Distance in km</p>
        </div>
        <div class="rightside">
          <p class="time">16:41 pm</p>
          <p>: jc 2374 gp</p>
          <p>: 125486 kg</p>
          <p>: 404 cruise road Melville</p>
          <p>: 527 km</p>

          <button>Details</button>
        </div>
      </div>

      <!-- new -->
      <div class="card">
        <div class="leftside">
          <p class="time">25/02/2020</p>
          <p>Reference No.</p>
          <p>Truck Load</p>
          <p>Destination</p>
          <p>Distance in km</p>
        </div>
        <div class="rightside">
          <p class="time">16:41 pm</p>
          <p>: jc 2374 gp</p>
          <p>: 125486 kg</p>
          <p>: 404 cruise road Melville</p>
          <p>: 527 km</p>

          <button>Details</button>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="graph">
  <div class="tops">
    <h3>Materials delivered by Fumani overtime</h3>
    <div class="boxes">
      <P>PAPER <br><span>5634 kg</span></P>
      <P>PLASTIC <br><span>5634 kg</span></P>
      <P>ALUMINIUM <br><span>5634 kg</span></P>
      <P>GLASS <br><span>5634 kg</span></P>
    </div>
  </div>
  <div class="canvas">
    <canvas #barChart >
    </canvas>
  </div>
</div>
</div>
</ion-content>
