

.The-header{
  // border: solid red 2px;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  h1{
    font-family: 'lato';
    font-size: 1.1em;
  }
}
.sub-header{
  // border: solid 2px yellow;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
}

.log-out{
  // border: solid 2px purple;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
}

.log-out > ion-icon{
  position: absolute;
  // right: 0px;
  // padding-right: 30px;
  font-size: 30px;
  color: brown;
  z-index: 10000000;
}

.line-breaker{
  border: solid 1px rgb(153, 152, 152);
  border-bottom:0px;
  border-right: 0px;
  border-left: 0px;
  width: 5%;
  margin-left: 10px;
  margin-bottom: 15px;
  position: relative;
  top: 5px;
}




#disapear{
    display: none;
  
  }
  
  #camera{
     //border: solid purple 2px;
    position: absolute;
    left: 83%;
    top: 90%;
    transform: translate(-50%,-50%);
    font-size: 20px;
    text-shadow: 0px 0px 10px black;
    ion-icon {
      font-size: 1.8em;
      color: #1B4001;
    }
  }
  
  .container {
     // border: 3px solid blue;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      overflow-y: hidden;
      #background1 {
    //  border: 1px solid red;
      position: absolute;
      height: 100%;
      bottom: 40%;
      right: -10%;
      top: -60%;
    
    }
    #close {
      position: absolute;
      top: 2.5%;
      right: 2.5%;
      font-size:25px;
      color: white;
    //  border: 1px solid blue;
    }
    #people {
     // border: 1px solid blue;
      #sthombe-upload {
        color: black;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 40px;
        opacity: 0;
        padding: 40px;
      }
      #sthombe-upload:hover{
        opacity: 1;
      }
      //border: 1px solid green;
      width: 15%;
      position: absolute;
      bottom: 0;
      left: 1%;
    
    }
    #bins {
      // border: 1px solid green;
        width: 20%;
        position: absolute;
        bottom: 0;
        right: 14%;
    }
    }
    .form { 
     // border: 3px solid red;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.123), 0 6px 20px 0 rgba(0, 0, 0, 0.068);
      width: 400px;
      height: 75%;
      border-radius: 7px;
      background: #ececec;
      z-index: 5;
      position: relative;
      display: flex;
      flex-direction: column;

      .head {
      //  border: 1px solid blue;
        height: 15%;
        display: flex;
        align-items: center;
        h3 {
       //   border: 1px solid red;
          margin: 0 ;
          padding: 0;
          padding-left: 5%;
          font-family: 'lato';
          font-weight: bolder;
      }
    }
      .profile {
        //border: 2px solid red;
        height: 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
              .ProPic {
       //border: 3px solid rgb(76, 0, 255);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.123), 0 6px 20px 0 rgba(0, 0, 0, 0.068);
        width: 150px;
        height: 150px;
        border-radius: 50%;
        position: relative;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }
      }

      .inputs {
       // border: 2px solid green;
        height: 55%;
        display: flex;
        flex-direction: column;
        align-content: center;

        input {
          width: 80%;
          margin-left: 10%;
          margin-top: 3%;
          border-radius: 5px;
          background: white;
          padding-left: 2% !important;
          box-shadow: 2px 1px 2px 1px rgb(184, 181, 181);
          font-size: 1em;
          padding: 10px !important;
          border: none;
          position: relative;
          font-family: 'lato';
          
        }

        #save {
        //  border: 1px solid red;
          width: 50%;
          position: absolute;
          left: 25%;
          top: 70%;
          border-radius: 5px;
          background: #1B4001;
          color: white;
          font-family: 'Microsoft YaHei UI';
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.123), 0 6px 20px 0 rgba(0, 0, 0, 0.068);
  
        }
      }
    }


    // h3 {
    //   border: 3px solid red;
    //   margin: 0;
    //   margin-top: 15%;
    //   font-size: 22px;
    //   text-align: center;
    // }
    // .profile {
    //   height: 20%;
    //  border: 2px solid black;
    //   display: flex;
    //   justify-content: center;
    //   align-items: center;
    //   align-content: center;
    //   //margin-top: 5px;
    
    //   .ProPic {
      
    //   border: 3px solid rgb(76, 0, 255);
    //  position: absolute;
    //     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.123), 0 6px 20px 0 rgba(0, 0, 0, 0.068);
    //    margin-top: 15%;
    //     width: 120px;
    //     height: 120px;
    //     border-radius: 50%;
    //     img {
    //       width: 100%;
    //       height: 100%;
    //       object-fit: cover;
    //       border-radius: 50%;
    //     }
    //   }
    // }
    // .inputs {
    //   border: 3px solid rgb(240, 70, 255);
    //   height: 70%;
    //   display: flex;
    //   flex-direction: column;
    //   justify-content: center;
    //   align-content: center;
    //   align-items: center;
    //   margin: 0;
    // margin-top: -12%;
    //   input {
    //       width: 300px;
    //       padding: 10px;
    //       margin-top: 5px;
    //       border-radius: 50px;
    //       border: none;
    //       outline: none;
    //     background:#EAEAEA;
    //     padding-left: 15px;
    //     font-size: 15px;
        
    //   }
    //   ion-button {
    //       width: 150px;
    //       margin-top: 35px;
    //       outline: none;
    //       background: #1B4001;
    //       border-radius: 5px;
    //       font-size: 12px;
    //       box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.123), 0 6px 20px 0 rgba(0, 0, 0, 0.068);
    
    //   }
    // }
    
    