.header {
    --background: #265902 !important;
    display: flex;
  }
​
​
.Thecont{
     height: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     background-image: url('../../assets/manageuser.svg');
     background-repeat: no-repeat;
     background-size: 130%;
     background-position: -10% 40%;
}
​
.Information{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 95%;
  height: 95%;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.719);
  overflow-y: scroll;
}
​
​
.Cancel{
    color: rgb(255, 255, 255);
    margin-left: 95%;
    font-size: 150%;
}

.PDF{
    // margin-right: 95%;
    background: rgb(255, 255, 255);
    color: #265902;
    border-radius: 2px;
    font-weight: 600;
}

table{
    margin-top: 5%;
}

th, td {
    border: 1px solid black;
}
p{
    text-align: center;
}

.Info{
    // border: solid 1px black;
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}
.div1{
    // border: solid 1px rgb(216, 0, 0);
    width: 50%;
    height: 100%;
}
.div2{
    // border: solid 1px black;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

h2{
    font-size: 15px;
    text-align: rigt;
}
h1{
    text-align: center;
}

// .Mother{
//     background:#44474D;
//     height: 100%;
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
// }

// .itemDiv{
//     // background: purpl e;
//     height: 80%;
//     width: 50%;
// }

// ion-item{
//     border: solid 2px purple;
//     margin-bottom: 10px;
//     background-color: rgba(255, 255, 255, 0.308);

// }

// .theButton{
//     // border: purple solid 2px;

// }

.Buttons{
    // border: solid 2px purple;
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.CancelBtn{
    // border: solid 2px rgb(19, 4, 19);
    height: 15%;
    width: 50%;
    display: flex;
    align-items: left;
    justify-content: left;
}

.PDFButton{
    // border: solid 2px rgb(179, 255, 0);
    height: 15%;
    width: 50%;
}