<ion-header>
  <ion-toolbar class="header">
    <ion-title>
      <div class="Buttons">
        <div class="PDFButton">
          <ion-button (click)="downloadPdf()" color="clear" class="PDF">Download PDF</ion-button>
        </div>
        <div class="CancelBtn">
          <ion-icon (click)="myBackButton()" class="Cancel" name="close-circle"></ion-icon>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
​
<ion-content>
  <div class="the-pdf">
    <div id="the-pdf-page">
      <div id="pdf-header">
        <div id="first-section">
          <h1>MTHOMBOWOLWAZI</h1>
          <P>INBOUND WASTE RECYCLING</P>
        </div>
        <div id="second-setion">
          <div id="the-image-div">
            <img src="../../assets/mthombologo (1).png" alt="">
          </div>
        </div>
      </div>
      <div class="pdf-details">
        <div id="info-one">
          <!-- <ion-grid>
            <ion-row>
              <ion-col id="for-icon">
                sdsd
              </ion-col>
              <ion-col>
                sdsd
              </ion-col>
            </ion-row>
          </ion-grid> -->

          <table id="receipt-table">
            <tr>
              <td>
                <div>
                  <ion-icon name="person"></ion-icon>
                </div>
                <div> Lebogang Thipenyane </div>
              </td>
              <td>REGISTRATIO NO.</td>
            </tr>
            <tr>
              <td>
                <div>
                  <ion-icon name="pin"></ion-icon>
                </div>
                <div>
                  7118 ISIGEDLA, STREET Naledi EXT 2
                </div>
              </td>
              <td>78283 GP</td>
            </tr>
            <tr>
              <td>
                <div>
                  <ion-icon name="mail"></ion-icon>
                </div>
                <div>
                  mthombowolwazi@gmail.com
                </div>
              </td>
              <td>Date Issued</td>
            </tr>
            <tr>
              <td>
                <div>
                  <ion-icon name="call"></ion-icon>
                </div>
                <div>
                  0740954945
                </div>
              </td>
              <td>23 July 2020</td>
            </tr>
          </table>
        </div>
      </div>

      <div class="the-table">
        <div class="table-header">
          <div id="material-code">
            <h3>MATERIAL CODE</h3>
          </div>
          <div id="mass">
            <h3>MASS (KG)</h3>
          </div>
        </div>
        <div class="table-content">
          <!-- <div id="code" *ngFor="let code of printDataName">
            <h3>{{ code }}</h3>
          </div>
          <div id="kgs" *ngFor="let data of printDataNumber">
            <h3>{{ data }}</h3>
          </div> -->
          <ion-card-content>
            <div  class='summary_row'>
              <div  class='summarycell'>
                Cell1
              </div>
              <div  class='summarycell'>
                Cell2
              </div>
            </div>
          </ion-card-content>
        </div>
        <!-- <div class="total">  
          <div id="total1"><h3><b>Total</b></h3></div>
          <div id="total1"><h3><b>R10.00</b></h3></div>
        </div> -->
        <div class="foooter">
          <div id="section-one">
            <div class="deliver"><h5>Deliver To</h5></div>
            <div id="info"><p>Nompumelelo Mbatha</p></div>
            <div id="info"><p>Coca-Cola</p></div>
            <div id="info"><p>Coca-Cola@gmail.com</p></div>
          </div>
          <div id="section-two">
            <div class="driver"><h5>Driver</h5></div>
            <div id="info2"><p>Nathi Mbatha</p></div>
            <div id="info2"><p>075 025 6555</p></div>
            <div id="info2"><p>5855G GP</p></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>