<ion-header>
  <ion-toolbar class="header">
    <ion-title>
      <div class="Buttons">
        <div class="PDFButton">
          <ion-button (click)="downloadPdf()" color="clear" class="PDF">Download PDF</ion-button>
        </div>
        <div class="CancelBtn">
          <ion-icon (click)="myBackButton()" class="Cancel" name="close-circle"></ion-icon>
        </div>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>
​
<ion-content>
  <div class="the-pdf">
    <div id="the-pdf-page">
      <div id="pdf-header">
        <div id="first-section">
          <h1>MTHOMBOWOLWAZI</h1>
          <P>INBOUND WASTE RECYCLING</P>
        </div>
        <div id="second-setion">
          <div id="the-image-div">
            <img src="../../assets/mthombologo (1).png" alt="">
          </div>
        </div>
      </div>
      <div class="pdf-details">
        <div id="info-one">
          <!-- <ion-grid>
            <ion-row>
              <ion-col id="for-icon">
                sdsd
              </ion-col>
              <ion-col>
                sdsd
              </ion-col>
            </ion-row>
          </ion-grid> -->

          <table id="receipt-table">
            <tr>
              <td>
                <div>
                  <ion-icon name="person"></ion-icon>
                </div>
                <div> Lebogang Thipenyane </div>
              </td>
              <td>REGISTRATIO NO.</td>
            </tr>
            <tr>
              <td>
                <div>
                  <ion-icon name="pin"></ion-icon>
                </div>
                <div>
                  7118 ISIGEDLA, STREET Naledi EXT 2
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div>
                  <ion-icon name="mail"></ion-icon>
                </div>
                <div>
                  mthombowolwazi@gmail.com
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <div>
                  <ion-icon name="call"></ion-icon>
                </div>
                <div>
                  0740954945
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="pdf-table">
        <table id="the-table-header">
        <tr>
          <th>MATERIAL CODE</th>
          <th>MASS (KG)</th>
          <th>VAT</th>
          <th>PRICE</th>
        </tr>
      </table>
      </div>
      <!-- <table>
        <tr>
          <td>GL001</td>
          <td>60 kg</td>
          <td>R0.40</td>
          <td>R400.00</td>
        </tr>
      </table> -->
    </div>
  </div>
</ion-content>