<!-- <ion-content>
  <div class="container">
<div class="form">
  <div class="top">
  
    </div>
    <div class="inputs">
      <h1>WELCOME BACK</h1>

    <form ng-submit="loginForm()" [formGroup]="loginForm" class="login" #form="ngForm">
    <ion-item>
        <ion-label position="floating" type="email" >Enter Your Email</ion-label>
        <ion-input  formControlName="email" [class.invalid]="!loginForm.controls['email'].valid &&
        loginForm.controls['email'].touched" >    </ion-input>
            <ion-icon style="font-size: 2vw;" name="mail" slot="end" ></ion-icon>
      </ion-item>
      <div class="error" *ngIf="!loginForm.controls['email'].valid &&
      loginForm.controls['email'].touched">
  <div class="messages">
 <p class="errors">Please enter a valid email address.</p> 
  </div>
</div>

<ion-item style="margin-top: 3% !important;">
  <ion-label position="floating" type="password">Enter Your Password</ion-label>
  <ion-input formControlName="password" type='password'
  [class.invalid]="!loginForm.controls['password'].valid&& loginForm.controls['password'].touched"
  >    </ion-input>
      <ion-icon style="font-size: 2vw;" name="lock" slot="end" ></ion-icon>
</ion-item>

<div *ngIf="!loginForm.controls['password'].valid
&& loginForm.controls['password'].touched" class="error">
<div class="messages">
<p class="errors">Your password is incorrect.</p>
</div>
</div>
<div style="text-align: center;">
   <P id="forgot" (click)="  forgetpassword()">Forgot Password?</P>
</div>

<button ion-button   [disabled]="!loginForm.valid"  (click)="loginUser(loginForm)">LOGIN</button><br>

<button ion-button   [disabled]="!loginForm.valid"  (click)=" goToRegister()">REGISTER</button>

    </form>
    </div>
  </div>
  <div class="tree" >
   <div id="tree">

   </div>
  </div>
</div>

  </ion-content> -->
 
  <!-- new code -->
  
<ion-content>
  <div class="container">
    <div class="leftwave">
      <!-- <img id="wave" src="../../assets/loginwave.svg"> -->
</div>
    <img id="grocery" src="../../assets/grocery.svg">

    <form ng-submit="loginForm()" [formGroup]="loginForm" class="login" #form="ngForm">
            
    <div class="login">
      <div class="left">
        <div class="logo">
          <img src="../../assets/logo.svg"><span><h3>Mthombowolwazi</h3></span>
        </div>
        <div class="middle">
          <P>Welcome back, Please login to your account</P>
        
            <ion-input placeholder="Enter email"  formControlName="email" [class.invalid]="!loginForm.controls['email'].valid &&
            loginForm.controls['email'].touched" ></ion-input>
            <div class="error" *ngIf="!loginForm.controls['email'].valid &&
            loginForm.controls['email'].touched">
        <div class="messages">
       <p class="errors">Please enter a valid email address.</p> 
        </div>
      </div>

            <ion-input placeholder="Enter password" formControlName="password" type='password'
            [class.invalid]="!loginForm.controls['password'].valid&& loginForm.controls['password'].touched" ></ion-input>
            <p id="password" (click)="forgetpassword()">Forgot Password</p>

            <div *ngIf="!loginForm.controls['password'].valid
            && loginForm.controls['password'].touched" class="error">
            <div class="messages">
            <p class="errors">Your password is incorrect.</p>
            </div>
            </div>
            <button (click)="loginUser(loginForm)" ion-button>Login</button>
         
        </div>
     
      </div>
 

      <div class="right">
        <!-- <img src="../../assets/loginright.svg"> -->
      </div>
    </div>
  </form>
</div>

  </ion-content>
