.header {
    --background: #265902 !important;
    display: flex;
  }
  ion-toolbar {
    display: flex;
    flex-direction: row;
   
  }
  ion-title {
    //border: 1px solid red;
    font-family: 'Microsoft YaHei UI';
    font-size: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p {
  //  border: 1px solid red;
    width: 50%;
    position: absolute;
    left: 75px;
    top:4px ;
  }
  ion-avatar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(51, 51, 51, 0.103);
  
    width: 50px;
    height: 50px;
  }
  }
  #logout {
    border: 1px solid white;
    padding: 1px;
    border-radius: 50px;
    background: white;
  ion-button {
    font-size: 10px;
    font-weight: bold;
  }
    ion-icon {
      color: brown;
      font-size: 20px;
      font-weight: bold;
      margin-left: 5px;
    }
  }
ion-icon {
  padding-left: 2%;
  font-size: 1vw;
}//END OF HEADER

.container {
//  border: 1px solid red;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-image: url('../../assets/manageuser.svg');
    background-repeat: no-repeat;
    background-size: 130%;
    background-position: -10% 40%;
}
.left {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 68%;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.719);
  overflow-y: scroll;

  .profile {
    // border: 3px solid rgb(255, 0, 212);
      height: 100px;
      width: 430px;
  margin-top: 3%;
      .names {
          //border: 2px solid rgb(13, 184, 36);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          height: 75px;
          width: 400px;
          margin-bottom: 0;
          position: relative;
          border-radius: 10px;
          background: #EAEAEA;
          h4,p {
              margin: 0;
            // border: 1px solid red;
              width: 65%;
              position: relative;
              left: 30%;
              padding-left: 2%;
            font-family: 'Microsoft YaHei UI';
          }
          p {
              font-size: 12px;
          }
          h4 {
              font-size: 15px;
              font-weight: bold;
              padding-top: 5px;
          }
      }
      .image {
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.048), 0 6px 20px 0 rgba(0, 0, 0, 0.068);
         // border: 1px solid red;
          width: 80px;
          height: 100%;
          position: absolute;
          top: -30%;
          left: 10%;
          border-radius: 10px;
         img {
             object-fit: cover;
             border-radius: 10px;
             height: 100%;
             width: 100%;
         }
      }
  }
}

.right {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: 30%;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.664);
  #borderb{
      width: 80%;
      margin-left: 10%;
      border-bottom: 2px solid gray;
  }
  .pic {
      width: 100%;
      height:35%;
   //  background: blue;
      display: flex;
      justify-content: center;
      align-items: center;
     ion-avatar {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      width: 150px;
     height: 150px;
     }
     
  }
.image {
    border: 1px solid gray;
  border-radius: 50%;
  width: 100px;
  height:100px;
  padding-bottom: 100%;
  background: white;
     
  }
  .info {
   //   border: 1px solid blue;
      height: 50%;
      font-family: 'Microsoft YaHei UI';
      
    
      p {
          padding-left: 8%;
          margin: 0;
          font-size: 12px;
          font-family: 'Microsoft YaHei UI';
      }
      h4 {
          padding-left: 8%;
          font-size: 17px;
          font-weight: 550;
          font-family: 'Microsoft YaHei UI';
      }
  }
  ion-fab {
     position: absolute;
     right: 3%;
     bottom: 3.5%;
  //    padding-right: 15px;
  }
  ion-icon {
      font-size: 25px;
  }

  //inputs on register form

}//right div ebds here
.inputs {
              width: 100%;
              margin-top: 3%;
              border-radius: 50px;
              background: #EAEAEA;
              padding: 12px;
              border: none !important;
              outline: none;
              font-size: 13px;
            }

            h1 {
                //
                padding-bottom: 15%;
            }
button {
// border: 1px solid red;
  font-size: 1vw;
  width: 45%;
      margin-left: 32%;
      margin-top: 8%;
      padding: 3%;
      border-radius: 5px;
      background: #1B4001;
      color: white;
      font-family: 'Microsoft YaHei UI';
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.123), 0 6px 20px 0 rgba(0, 0, 0, 0.068);
}
.bottomdeco {
 // border: 2px solid rgb(19, 17, 17);
  height: 20%;
  width: 28%;
 position: absolute;
 bottom: 2.5%;
 right: 2%;
// bottom: 0 !important;
img {
 
  position: absolute;
  bottom: 0%;
  // border: 2px solid rgb(19, 17, 17);

}
}
.opacitydivs {
//border: 2px solid black;
position: absolute;
top: 3%;
right: 1%;
background: rgba(0, 0, 0, 0.63);
width: 30%;
height: 94%;
z-index: 10;
border-radius: 7px;
}
.close {
// border: 1px solid red;
position: absolute;
right: 2%;
top: 3%;
margin: 0;
}
.animation {
  animation-duration: 3s;
  animation-name: slideup;
}

@keyframes slideup {
  from {
    margin-top: 100%;
    width: 30%;
  }
  to {
    margin-top: 0%;
    width: 100%;
  }
}

// fifi media queries
@media screen and (min-width: 1366px) {
  .header {
    ion-title {
    p {
      //border: 1px solid white;
   text-align: left;;
         margin-left: -2%;
         margin-top: 8px;
       }
      }
      ion-avatar {
       margin-left: 0 !important;
       position: absolute;
       left: 1% !important;
       top: 3.5px;
       width: 35px;
       height: 35px;
   }
      #logout {
        //border: 1px solid red;
        height: 10px !important;
        width: auto;
        }
   }

}

@media screen and (max-width: 1024px) {
  .header {
    ion-title {
      display: grid;
      align-items: center;
      p {
        text-align: left;
        margin-left: -4%;
        margin-top: 7px;
      }
    }
    ion-avatar {
      margin-left: 0 !important;
      position: absolute;
      left: 1% !important;
      top: 3.5px;
      width: 35px;
      height: 35px;
    }
    #logout {
      width: auto;
    }
  }


}
@media screen and (min-width: 1920px) {
 
  .header {
   // border: 1px solid red;
    ion-title {
    //  border: 2px solid blue;
      height: 40px;
    }
    ion-avatar {
     // border: 1px solid red;
      height: 40px;
      width: 40px;
      margin-top: -5px;
    }
    p {
    //  border: 1px solid white;
      position: absolute;
      left: 6.9%;
     top: 2px;
    }
    #logout {
   // border: 1px solid red;
     height: 40%; 
     padding: 1% !important;
  }
  }

}
@media screen and (max-width: 1440px) {
  .header {
    ion-title {
      p {
        text-align: left;
       // margin-left: -4%;
       margin-top: -10px;
      }
    }
    ion-avatar {
      margin-left: 0 !important;
      position: absolute;
      left: 1% !important;
      top: -16.5px;
      width: 35px;
      height: 35px;
    }
    #logout {
     padding: 1.5%;
    }
  }
 

}

