<ion-content>
  <button (click)="createUser()">function</button>
  <div class="header">
    <div class="nav">
      <h2>My Dashboard</h2>
      <p id="theP">Manage Users</p>
    </div>
    <div class="profiles" *ngFor="let item of Newadmin">
      <div class="image">
        <img src="{{item.image}}" height="400px" width="400px" >
      </div>
      <div class="names">
          <H4>{{ item.name }}</H4>  
          <P>{{ item.position }}</P>
      </div>
    </div>
    <div class="logout" (click)="Logout()">
      <ion-icon name="log-out" style="color:black"></ion-icon>
    </div>
  </div>

<div class="container">
  
  <div class="left" id="scroll" >
    <!-- <div  class="internal" [formGroup]="signupForm"> -->
      <input type="file" id="sthombe" accept="image/*" (change)="changeListener($event)">
      <div class="myHead">
          <img src="../../assets/wavy.png" id="wavey-image-bg" alt="">
          <label for="sthombe" id="user-upload">
        <div class="circle-thingy">
          <ion-icon name="camera" id="sthombe-upload"></ion-icon>
          <img src="../../assets/icon/userimage.png" alt="">
        </div>
      </label>
      </div>
      <div class="theInputs">
        <div class="user-inputs">
          <div>
            <ion-icon id="user-icon" name="ios-person" [ngClass]="{'activeInputIcon': isLabelActive, 'inactiveInputIcon': !isLabelActive}"></ion-icon>
          </div>
          <div>
            <input placeholder="Full Names"  type="text" [(ngModel)]="profile.name">
          </div>
        </div>
        <div class="user-inputs">
          <div>
            <ion-icon id="user-icon" name="ios-briefcase" [ngClass]="{'activeInputIcon': isLabelActive, 'inactiveInputIcon': !isLabelActive}"></ion-icon>
          </div>
          <div>
            <input placeholder="Position" [(ngModel)]="profile.position">
          </div>
        </div>
        <div class="user-inputs">
          <div>
            <ion-icon id="user-icon" name="ios-mail" [ngClass]="{'activeInputIcon': isLabelActive, 'inactiveInputIcon': !isLabelActive}"></ion-icon>
          </div>
          <div>
            <input placeholder="Email Address" type="email">
          </div>
        </div>
        <div class="user-inputs">
          <div>
            <ion-icon id="user-icon" name="ios-lock" [ngClass]="{'activeInputIcon': isLabelActive, 'inactiveInputIcon': !isLabelActive}"></ion-icon>
          </div>
          <div>
            <input placeholder="Password" type="password">
          </div>
        </div>
        <div class="user-input-button">
          <button style="border-radius: 5px;width: 50%;" id="user-button" (click)="signupUser(signupForm)">REGISTER MEMBER</button>
        </div>
      </div>

    <!-- </div> -->
    </div>

    <div class="right" style="overflow-y: scroll;">
      <h1>All Your Registered Administrators</h1>
      <ion-card *ngFor = "let myprofiles  of newuserprofile">
          <ion-item >
            <ion-thumbnail slot="start">
              <img id="face" src="{{myprofiles.image}}">
            </ion-thumbnail>
            <ion-label>
              <h2>{{myprofiles.name}} {{myprofiles.surname}}</h2>
              <p>{{myprofiles.position}}</p>
            </ion-label>
            <ion-icon id="Icon5" name="trash" (click)="delete(myprofiles)"></ion-icon>
          </ion-item>
        </ion-card>
    </div>
  </div>
</ion-content>