<ion-header>
    <ion-toolbar class="header">
        <ion-title>
            <div class="Buttons">
                <div class="PDFButton">
                    <ion-button (click)="downloadPdf()" color="clear" class="PDF">Download PDF</ion-button>
                </div>
                <div class="CancelBtn">
                    <ion-icon (click)="myBackButton()" class="Cancel" name="close-circle"></ion-icon>
                </div>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="Thecont">
        <div class="Information">
    <div *ngFor="let rec of testArray">
        <div class="Info">
            <div class="div1"></div>
            <!-- <div class="div2">Date:  {{ rec.date }}</div> -->
        </div>

        <h1>Purchases Per Product</h1>

        <table style="width: 100%;">
            <tr>
                <th>Name</th>
                <th>Phone No.</th>
                <th>Address</th>
            </tr>
            <tr>
                <td>
                    <p>{{ rec.name }} {{ rec.surname }}</p>
                </td>
                <td>
                    <p>{{ rec.contact }}</p>
                </td>
                <td>
                    <p>{{ rec.address }}</p>
                </td>
            </tr>

            <br><br><br>

            <tr>
                <th>Glass</th>
                <th>Price incl.</th>
                <th>Mass</th>
                <th>VAT</th>
                <th>Sub Total</th>
                <th>Grand Total</th>
            </tr>
            <tr>
                <td>
                    <p>GH001</p>
                </td>
                <td>
                    <p>{{ rec.GH001price }}</p>
                </td>
                <td>
                    <p>{{ rec.GH001mass }}</p>
                </td>
                <td>
                    <p>{{ rec.GH001SubTotal }}</p>
                </td>
                <td>
                    <p>{{ rec.GH001Vat }}</p>
                </td>
                <td>
                    <p>{{ rec.GH001 }}</p>
                </td>
            </tr>
            <br><br>

            <tr>
                <th>NON-FERROUS</th>
                <th>Price incl.</th>
                <th>Mass</th>
                <th>VAT</th>
                <th>Sub Total</th>
                <th>Grand Total</th>
            </tr>

            <tr>
                <td>
                    <p>NFAL01</p>
                </td>
                <td>
                    <p>{{ rec.NFAL01price }}</p>
                </td>
                <td>
                    <p>{{ rec.NFAL01mass }}</p>
                </td>
                <td>
                    <p>{{ rec.NFAL01SubTotal }}</p>
                </td>
                <td>
                    <p>{{ rec.NFAL01Vat }}</p>
                </td>
                <td>
                    <p>{{ rec.NFAL01 }}</p>
                </td>
            </tr>

            <br><br>

            <tr>
                <th>PAPER</th>
                <th>Price incl.</th>
                <th>Mass</th>
                <th>VAT</th>
                <th>Sub Total</th>
                <th>Grand Total</th>
            </tr>
            <tr>
                <td>
                    <p>PAP005</p>
                </td>
                <td>
                    <p>{{ rec.PAP005price }}</p>
                </td>
                <td>
                    <p>{{ rec.PAP005mass }}</p>
                </td>
                <td>
                    <p>{{ rec.PAP005SubTotal }}</p>
                </td>
                <td>
                    <p>{{ rec.PAP005Vat }}</p>
                </td>
                <td>
                    <p>{{ rec.PAP005 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>PAP007</p>
                </td>
                <td>
                    <p>{{ rec.PAP007price }}</p>
                </td>
                <td>
                    <p>{{ rec.PAP007mass }}</p>
                </td>
                <td>
                    <p>{{ rec.PAP007SubTotal }}</p>
                </td>
                <td>
                    <p>{{ rec.PAP007Vat }}</p>
                </td>
                <td>
                    <p>{{ rec.PAP007 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>PAP001</p>
                </td>
                <td>
                    <p>{{ rec.PAP001price }}</p>
                </td>
                <td>
                    <p>{{ rec.PAP001mass }}</p>
                </td>
                <td>
                    <p>{{ rec.PAP001SubTotal }}</p>
                </td>
                <td>
                    <p>{{ rec.PAP001Vat }}</p>
                </td>
                <td>
                    <p>{{ rec.PAP001 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>PAP003</p>
                </td>
                <td>
                    <p>{{ rec.PAP003price }}</p>
                </td>
                <td>
                    <p>{{ rec.PAP003mass }}</p>
                </td>
                <td>
                    <p>{{ rec.PAP003SubTotal }}</p>
                </td>
                <td>
                    <p>{{ rec.PAP003Vat }}</p>
                </td>
                <td>
                    <p>{{ rec.PAP003 }}</p>
                </td>
            </tr>

            <br><br>

            <tr>
                <th>PLASTIC</th>
                <th>Price incl.</th>
                <th>Mass</th>
                <th>VAT</th>
                <th>Sub Total</th>
                <th>Grand Total</th>
            </tr>
            <tr>
                <td>
                    <p>HD001</p>
                </td>
                <td>
                    <p>{{ rec.HD001price }}</p>
                </td>
                <td>
                    <p>{{ rec.HD001mass }}</p>
                </td>
                <td>
                    <p>{{ rec.HD001SubTotal }}</p>
                </td>
                <td>
                    <p>{{ rec.HD001Vat }}</p>
                </td>
                <td>
                    <p>{{ rec.HD001 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>LD001</p>
                </td>
                <td>
                    <p>{{ rec.LD001price }}</p>
                </td>
                <td>
                    <p>{{ rec.LD001mass }}</p>
                </td>
                <td>
                    <p>{{ rec.LD001SubTotal }}</p>
                </td>
                <td>
                    <p>{{ rec.LD001Vat }}</p>
                </td>
                <td>
                    <p>{{ rec.LD001 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>LD003</p>
                </td>
                <td>
                    <p>{{ rec.LD003price }}</p>
                </td>
                <td>
                    <p>{{ rec.LD003mass }}</p>
                </td>
                <td>
                    <p>{{ rec.LD003SubTotal }}</p>
                </td>
                <td>
                    <p>{{ rec.LD003Vat }}</p>
                </td>
                <td>
                    <p>{{ rec.LD003 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>PET005</p>
                </td>
                <td>
                    <p>{{ rec.PET005price }}</p>
                </td>
                <td>
                    <p>{{ rec.PET005mass }}</p>
                </td>
                <td>
                    <p>{{ rec.PET005SubTotal }}</p>
                </td>
                <td>
                    <p>{{ rec.PET005Vat }}</p>
                </td>
                <td>
                    <p>{{ rec.PET005 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>PET001</p>
                </td>
                <td>
                    <p>{{ rec.PET001price }}</p>
                </td>
                <td>
                    <p>{{ rec.PET001mass }}</p>
                </td>
                <td>
                    <p>{{ rec.PET001SubTotal }}</p>
                </td>
                <td>
                    <p>{{ rec.PET001Vat }}</p>
                </td>
                <td>
                    <p>{{ rec.PET001 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>PET003</p>
                </td>
                <td>
                    <p>{{ rec.PET003price }}</p>
                </td>
                <td>
                    <p>{{ rec.PET003mass }}</p>
                </td>
                <td>
                    <p>{{ rec.PET003SubTotal }}</p>
                </td>
                <td>
                    <p>{{ rec.PET003Vat }}</p>
                </td>
                <td>
                    <p>{{ rec.PET003 }}</p>
                </td>
            </tr>

            <br><br>

            <tr>
                <td></td>
                <td></td>
                <th>Overall Mass</th>
                <th>Overall VAT</th>
                <th>Overall Sub Total</th>
                <th>Overall Grand Total</th>
            </tr>
            <tr>
                <td>
                    <p></p>
                </td>
                <td>
                    <p></p>
                </td>
                <td>
                    <p>{{ rec.OverallMass }}</p>
                </td>
                <td>
                    <p>{{ rec.OverallSubTotal }}</p>
                </td>
                <td>
                    <p>{{ rec.OverallVat }}</p>
                </td>
                <td>
                    <p>{{ rec.OverallGrandTotal }}</p>
                </td>
            </tr>
        </table>
    </div>

</div>
</div>
</ion-content>