<ion-header>
    <ion-toolbar>
        <ion-title>
            <div class="Buttons">
                <div class="PDFButton">
                    <ion-button (click)="downloadPdf()" color="clear" class="PDF">Download PDF</ion-button>
                </div>
                <div class="CancelBtn">
                    <ion-icon [routerLink]="['/reclaimer']" class="Cancel" name="close-circle"></ion-icon>
                </div>
            </div>
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngFor="let rec of testArray">
        <div class="Info">
            <div class="div1"></div>
            <!-- <div class="div2">Date:  {{ rec.date }}</div> -->
        </div>

        <h1>Purchases Per Product</h1>

        <table style="width: 100%;">
            <tr>
                <th>Name</th>
                <th>Phone No.</th>
                <th>Address</th>
            </tr>
            <tr>
                <td>
                    <p>{{ rec.name }} {{ rec.surname }}</p>
                </td>
                <td>
                    <p>{{ rec.contact }}</p>
                </td>
                <td>
                    <p>{{ rec.address }}</p>
                </td>
            </tr>

            <br><br><br>

            <tr>
                <th>Glass</th>
                <th>Price incl.</th>
                <th>Mass</th>
                <th>VAT</th>
                <th>Sub Total</th>
                <th>Grand Total</th>
            </tr>
            <tr>
                <td>
                    <p>GH001</p>
                </td>
                <td>
                    <p>{{ rec.GH001price }}</p>
                </td>
                <td>
                    <p>{{ rec.GH001mass }}</p>
                </td>
                <td>
                    <p>{{ rec.GH001SubTotal }}</p>
                </td>
                <td>
                    <p>{{ rec.GH001Vat }}</p>
                </td>
                <td>
                    <p>{{ rec.GH001 }}</p>
                </td>
            </tr>
            <br><br>

            <tr>
                <th>NON-FERROUS</th>
                <th>Price incl.</th>
                <th>Mass</th>
                <th>VAT</th>
                <th>Sub Total</th>
                <th>Grand Total</th>
            </tr>

            <tr>
                <td>
                    <p>NFAL01</p>
                </td>
                <td>
                    <p>{{ rec.NFAL01price }}</p>
                </td>
                <td>
                    <p>{{ rec.NFAL01mass }}</p>
                </td>
                <td>
                    <p>{{ rec.NFAL01SubTotal }}</p>
                </td>
                <td>
                    <p>{{ rec.NFAL01Vat }}</p>
                </td>
                <td>
                    <p>{{ rec.NFAL01 }}</p>
                </td>
            </tr>

            <br><br>

            <tr>
                <th>PAPER</th>
                <th>Price incl.</th>
                <th>Mass</th>
                <th>VAT</th>
                <th>Sub Total</th>
                <th>Grand Total</th>
            </tr>
            <tr>
                <td>
                    <p>PAP005</p>
                </td>
                <td>
                    <p>{{ rec.PAP005price }}</p>
                </td>
                <td>
                    <p>{{ rec.PAP005mass }}</p>
                </td>
                <td>
                    <p>{{ rec.PAP005SubTotal }}</p>
                </td>
                <td>
                    <p>{{ rec.PAP005Vat }}</p>
                </td>
                <td>
                    <p>{{ rec.PAP005 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>PAP007</p>
                </td>
                <td>
                    <p>{{ rec.PAP007price }}</p>
                </td>
                <td>
                    <p>{{ rec.PAP007mass }}</p>
                </td>
                <td>
                    <p>{{ rec.PAP007SubTotal }}</p>
                </td>
                <td>
                    <p>{{ rec.PAP007Vat }}</p>
                </td>
                <td>
                    <p>{{ rec.PAP007 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>PAP001</p>
                </td>
                <td>
                    <p>{{ rec.PAP001price }}</p>
                </td>
                <td>
                    <p>{{ rec.PAP001mass }}</p>
                </td>
                <td>
                    <p>{{ rec.PAP001SubTotal }}</p>
                </td>
                <td>
                    <p>{{ rec.PAP001Vat }}</p>
                </td>
                <td>
                    <p>{{ rec.PAP001 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>PAP003</p>
                </td>
                <td>
                    <p>{{ rec.PAP003price }}</p>
                </td>
                <td>
                    <p>{{ rec.PAP003mass }}</p>
                </td>
                <td>
                    <p>{{ rec.PAP003SubTotal }}</p>
                </td>
                <td>
                    <p>{{ rec.PAP003Vat }}</p>
                </td>
                <td>
                    <p>{{ rec.PAP003 }}</p>
                </td>
            </tr>

            <br><br>

            <tr>
                <th>PLASTIC</th>
                <th>Price incl.</th>
                <th>Mass</th>
                <th>VAT</th>
                <th>Sub Total</th>
                <th>Grand Total</th>
            </tr>
            <tr>
                <td>
                    <p>HD001</p>
                </td>
                <td>
                    <p>{{ rec.HD001price }}</p>
                </td>
                <td>
                    <p>{{ rec.HD001mass }}</p>
                </td>
                <td>
                    <p>{{ rec.HD001SubTotal }}</p>
                </td>
                <td>
                    <p>{{ rec.HD001Vat }}</p>
                </td>
                <td>
                    <p>{{ rec.HD001 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>LD001</p>
                </td>
                <td>
                    <p>{{ rec.LD001price }}</p>
                </td>
                <td>
                    <p>{{ rec.LD001mass }}</p>
                </td>
                <td>
                    <p>{{ rec.LD001SubTotal }}</p>
                </td>
                <td>
                    <p>{{ rec.LD001Vat }}</p>
                </td>
                <td>
                    <p>{{ rec.LD001 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>LD003</p>
                </td>
                <td>
                    <p>{{ rec.LD003price }}</p>
                </td>
                <td>
                    <p>{{ rec.LD003mass }}</p>
                </td>
                <td>
                    <p>{{ rec.LD003SubTotal }}</p>
                </td>
                <td>
                    <p>{{ rec.LD003Vat }}</p>
                </td>
                <td>
                    <p>{{ rec.LD003 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>PET005</p>
                </td>
                <td>
                    <p>{{ rec.PET005price }}</p>
                </td>
                <td>
                    <p>{{ rec.PET005mass }}</p>
                </td>
                <td>
                    <p>{{ rec.PET005SubTotal }}</p>
                </td>
                <td>
                    <p>{{ rec.PET005Vat }}</p>
                </td>
                <td>
                    <p>{{ rec.PET005 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>PET001</p>
                </td>
                <td>
                    <p>{{ rec.PET001price }}</p>
                </td>
                <td>
                    <p>{{ rec.PET001mass }}</p>
                </td>
                <td>
                    <p>{{ rec.PET001SubTotal }}</p>
                </td>
                <td>
                    <p>{{ rec.PET001Vat }}</p>
                </td>
                <td>
                    <p>{{ rec.PET001 }}</p>
                </td>
            </tr>
            <tr>
                <td>
                    <p>PET003</p>
                </td>
                <td>
                    <p>{{ rec.PET003price }}</p>
                </td>
                <td>
                    <p>{{ rec.PET003mass }}</p>
                </td>
                <td>
                    <p>{{ rec.PET003SubTotal }}</p>
                </td>
                <td>
                    <p>{{ rec.PET003Vat }}</p>
                </td>
                <td>
                    <p>{{ rec.PET003 }}</p>
                </td>
            </tr>

            <br><br>

            <tr>
                <td></td>
                <td></td>
                <th>Overall Mass</th>
                <th>Overall VAT</th>
                <th>Overall Sub Total</th>
                <th>Overall Grand Total</th>
            </tr>
            <tr>
                <td>
                    <p></p>
                </td>
                <td>
                    <p></p>
                </td>
                <td>
                    <p>{{ rec.OverallMass }}</p>
                </td>
                <td>
                    <p>{{ rec.OverallSubTotal }}</p>
                </td>
                <td>
                    <p>{{ rec.OverallVat }}</p>
                </td>
                <td>
                    <p>{{ rec.OverallGrandTotal }}</p>
                </td>
            </tr>
        </table>
    </div>

    <!-- <div class="Everything" *ngFor="let rec of ViewReclaimer">

      <div class="Information1">

        <div class="MotherInfo">

        <div class="Info1">

          Purchases Per Product Summery

        </div>

        <div class="Info2">

          Date:  {{ rec.date }}

        </div>

      </div>

      <div class="FatherInfo">

        <div class="Date">{{ dates }}</div>

      </div>

      </div>

  

      <div class="Heading">

        <h2>Mthombowolwazi</h2>

      </div>



      <div class="Credentials">

        <div class="Names"><b>{{ rec.name }} {{ rec.surname }}</b></div>

        <div class="Number"><b>Phone No: {{ rec.contact }}</b></div>

        <div class="Address"><b>{{ rec.address }}</b></div>

      </div>    

      

      <div class="Information2">

        <div class="Subheads">

          <div class="Sub1"> <b> GLASS</b></div>

          <div class="Sub2">Price Incl</div>

          <div class="Sub3">Mass</div>

          <div class="Sub4">Sub Total</div>

          <div class="Sub5">VAT</div>

          <div class="Sub6">Grand Total</div>

        </div>

        <div class="Prices">

          <div class="Price1">GH001</div>

          <div class="Price3">{{ rec.GH001Price }}</div>

          <div class="Price4">{{ rec.GH001Mass }}</div>

          <div class="Price5">{{ rec.GH001SubTotal }}</div>

          <div class="Price6">{{ rec.GH001Vat }}</div>

          <div class="Price7">{{ rec.GH001 }}</div>

        </div>

      </div>



      <div class="Information2">

          <div class="Subheads">

            <div class="Sub1">NON-FERROUS</div>

            <div class="Sub2">Price Incl</div>

            <div class="Sub3">Mass</div>

            <div class="Sub4">Sub Total</div>

            <div class="Sub5">VAT</div>

            <div class="Sub6">Grand Total</div>

          </div>

          <div class="Prices">

          <div class="Price1">NFAL01</div>

          <div class="Price3">{{ rec.NFAL01Price }}</div>

          <div class="Price4">{{ rec.NFAL01Mass }}</div>

          <div class="Price5">{{ rec.NFAL01SubTotal }}</div>

          <div class="Price6">{{ rec.NFAL01Vat }}</div>

          <div class="Price7">{{ rec.NFAL01 }}</div>

          </div>

        </div><br><br>



      <div class="Information2">

          <div class="Subheads">

            <div class="Sub1">PAPER</div>

            <div class="Sub2">Price Incl</div>

            <div class="Sub3">Mass</div>

            <div class="Sub4">Sub Total</div>

            <div class="Sub5">VAT</div>

            <div class="Sub6">Grand Total</div>

          </div>

          <div class="Prices">

              <div class="Price1">PAP005</div>

              <div class="Price3">{{ rec.PAP005Price }}</div>

              <div class="Price4">{{ rec.PAP005Mass }}</div>

              <div class="Price5">{{ rec.PAP005SubTotal }}</div>

              <div class="Price6">{{ rec.PAP005Vat }}</div>

              <div class="Price7">{{ rec.PAP005 }}</div>

          </div>

          <div class="Prices">

              <div class="Price1">PAP007</div>

              <div class="Price3">{{ rec.PAP007Price }}</div>

              <div class="Price4">{{ rec.PAP007Mass }}</div>

              <div class="Price5">{{ rec.PAP007SubTotal }}</div>

              <div class="Price6">{{ rec.PAP007Vat }}</div>

              <div class="Price7">{{ rec.PAP007 }}</div>

            </div>

            <div class="Prices">

                <div class="Price1">PAP001</div>

                <div class="Price3">{{ rec.PAP001Price }}</div>

                <div class="Price4">{{ rec.PAP001Mass }}</div>

                <div class="Price5">{{ rec.PAP001SubTotal }}</div>

                <div class="Price6">{{ rec.PAP001Vat }}</div>

                <div class="Price7">{{ rec.PAP001 }}</div>

              </div>

              <div class="Prices">

                  <div class="Price1">PAP003</div>

                  <div class="Price3">{{ rec.PAP003Price }}</div>

                  <div class="Price4">{{ rec.PAP003Mass }}</div>

                  <div class="Price5">{{ rec.PAP003SubTotal }}</div>

                  <div class="Price6">{{ rec.PAP003Vat }}</div>

                  <div class="Price7">{{ rec.PAP003 }}</div>

              </div>

        </div>

<br><br><br><br><br><br>

      <div class="Information2">

          <div class="Subheads">

            <div class="Sub1">PLASTIC</div>

            <div class="Sub2">Price Incl</div>

            <div class="Sub3">Mass</div>

            <div class="Sub4">Sub Total</div>

            <div class="Sub5">VAT</div>

            <div class="Sub6">Grand Total</div>

          </div>

          <div class="Prices">

            <div class="Price1">HD001</div>

            <div class="Price3">{{ rec.HD001Price }}</div>

            <div class="Price4">{{ rec.HD001Mass }}</div>

            <div class="Price5">{{ rec.HD001SubTotal }}</div>

            <div class="Price6">{{ rec.HD001Vat }}</div>

            <div class="Price7">{{ rec.HD001 }}</div>

          </div>

          <div class="Prices">

              <div class="Price1">LD001</div>

              <div class="Price3">{{ rec.LD001Price }}</div>

              <div class="Price4">{{ rec.LD001Mass }}</div>

              <div class="Price5">{{ rec.LD001SubTotal }}</div>

              <div class="Price6">{{ rec.LD001Vat }}</div>

              <div class="Price7">{{ rec.LD001 }}</div>

            </div>

            <div class="Prices">

                <div class="Price1">LD003</div>

                <div class="Price3">{{ rec.LD003Price }}</div>

                <div class="Price4">{{ rec.LD003Mass }}</div>

                <div class="Price5">{{ rec.LD003SubTotal }}</div>

                <div class="Price6">{{ rec.LD003Vat }}</div>

                <div class="Price7">{{ rec.LD003 }}</div>

              </div>

              <div class="Prices">

                  <div class="Price1">PET005</div>

                  <div class="Price3">{{ rec.PEP005Price }}</div>

                  <div class="Price4">{{ rec.PEP005Mass }}</div>

                  <div class="Price5">{{ rec.PEP005SubTotal }}</div>

                  <div class="Price6">{{ rec.PEP005Vat }}</div>

                  <div class="Price7">{{ rec.PEP005 }}</div>

                </div>

                <div class="Prices">

                  <div class="Price1">PET001</div>

                  <div class="Price3">{{ rec.PET001Price }}</div>

                  <div class="Price4">{{ rec.PET001Mass }}</div>

                  <div class="Price5">{{ rec.PET001SubTotal }}</div>

                  <div class="Price6">{{ rec.PET001Vat }}</div>

                  <div class="Price7">{{ rec.PET001 }}</div>

                  </div>

                  <div class="Prices">

                  <div class="Price1">PET003</div>

                  <div class="Price3">{{ rec.PET003Price }}</div>

                  <div class="Price4">{{ rec.PET003Mass }}</div>

                  <div class="Price5">{{ rec.PET003SubTotal }}</div>

                  <div class="Price6">{{ rec.PET003Vat }}</div>

                  <div class="Price7">{{ rec.PET003 }}</div>

              </div>



              <div class="Information3">

                  <div class="Subheads">

                    <div class="Sub1">All</div>

                    <div class="Sub2">Price included</div>

                    <div class="Sub3">Overall Mass</div>

                    <div class="Sub4">Overall Sub Total</div>

                    <div class="Sub5">Overall VAT</div>

                    <div class="Sub6">Overall Grand Total</div>

                  </div>

                  <div class="Prices">

                    <div class="Price8"></div>

                    <div class="Price9"></div>

                    <div class="Price10">{{ rec.OverallMass }}</div>

                    <div class="Price11">{{ rec.OverallSubTotal }}</div>

                    <div class="Price12">{{ rec.OverallVat }}</div>

                    <div class="Price13">{{ rec.OverallGrandTotal }}</div>

                  </div>

                </div>

        </div>

    </div> -->

</ion-content>