<div class="The-header">
  <div class="sub-header" padding>
    <h1>All Outbound Material</h1>
  </div>
  <!-- <div class="log-out">
    <ion-icon name="log-out" (click)="Logout()"></ion-icon>
  </div> -->
</div>
<div class="line-breaker"></div>


<ion-content>
  <div class="mother" *ngIf="popOpOpen === true">
    <div class="dismissOverlay" (click)="goAway()"></div>

    <div class="userForm2" *ngIf="slideTwo === true">
      <!-- this is for the materials form -->
      <div class="waste-materials">
        <div (click)="togglePaper()" id="isPaper">PAPER</div>
        <div (click)="togglePlastic()" id="isPlastic">PLASTIC</div>
        <div (click)="toggleAluminium()" id="isAluminium">ALUMINIUM</div>
        <div (click)="toggleGlass()" id="isGlass">GLASS</div>

      </div>

      <div class="RecyleLogo">
        <img  id="Opaque" src="../../assets/icon/Asset 10.svg" alt="">
      </div>
      <div class="Recycle-Bins">
        <img src="../../assets/binsPopup  2.svg" alt="">
      </div>
      <div class="SecSection">
        <!-- For Paper -->

        <div class="Material-inputs" id="forPaper" *ngIf="isPaper === true">
          <!-- paper -->
          <div class="Next-button">
            <ion-button fill="clear" color="light" (click)="togglePlastic()">Next</ion-button>
          </div>
          <ion-grid>
            <ion-row>
              <ion-col class="input-textfields" size="6">
                <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;"
                  placeholder="Weight in Kilograms" [(ngModel)]="PAP005mass2"><br>
                <p>PAP005</p>
              </ion-col>

              <ion-col class="input-textfields" size="6">
                <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;"
                  placeholder="Weight in Kilograms" [(ngModel)]="PAP007mass2"><br>
                <p>PAP007</p>
              </ion-col>

              <ion-col class="input-textfields" size="6">
                <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;"
                  placeholder="Weight in Kilograms" [(ngModel)]="PAP001mass2"><br>
                <p>PAP001</p>
              </ion-col>

              <ion-col class="input-textfields" size="6">
                <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;"
                  placeholder="Weight in Kilograms" [(ngModel)]="PAP003mass2"><br>
                <p>PAP003</p>
              </ion-col>

            </ion-row>
          </ion-grid>
        </div>
        <!-- For PLAstic -->
        <div class="Material-inputs" id="forPlastic" *ngIf="isPlastic === true">
          <!-- plastic -->
          <div class="Next-button">
            <ion-button fill="clear" color="light" (click)="toggleAluminium()">Next</ion-button>
          </div>
          <ion-grid>
            <ion-row>
              <ion-col class="input-textfields" size="6">
                <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;"
                  placeholder="Weight in Kilograms" [(ngModel)]="HD001mass2"><br>
                <p>HD001</p>
              </ion-col>

              <ion-col class="input-textfields" size="6">
                <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;"
                  placeholder="Weight in Kilograms" [(ngModel)]="LD001mass2"><br>
                <p>LD001</p>
              </ion-col>

              <ion-col class="input-textfields" size="6">
                <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;"
                  placeholder="Weight in Kilograms" [(ngModel)]="LD003mass2"><br>
                <p>LD003</p>
              </ion-col>

              <ion-col class="input-textfields" size="6">
                <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;"
                  placeholder="Weight in Kilograms" [(ngModel)]="PET005mass2"><br>
                <p>PET005</p>
              </ion-col>
              <ion-col class="input-textfields" size="6">
                <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;"
                  placeholder="Weight in Kilograms" [(ngModel)]="PET001mass2"><br>
                <p>PET001</p>
              </ion-col>

              <ion-col class="input-textfields" size="6">
                <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;"
                  placeholder="Weight in Kilograms" [(ngModel)]="PET003mass2"><br>
                <p>PET003</p>
              </ion-col>

            </ion-row>
          </ion-grid>
        </div>
        <!-- For Aluminium -->
        <div class="Material-inputs" id="forAluminium" *ngIf="isAluminium === true">
          <!-- Aluminium -->
          <div class="Next-button">
            <ion-button fill="clear" color="light" (click)="toggleGlass()">Next</ion-button>
          </div>
          <ion-grid>
            <ion-row>
              <ion-col class="input-textfields">
                <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;"
                  placeholder="Weight in Kilograms" [(ngModel)]=" NFAL01mass2"><br>
                <p id="CODE">NFAL01</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <!-- For Glass -->
        <div class="Material-inputs" id="forGlass" *ngIf="isGlass === true">
          <!-- Glass -->
          <div class="Next-button">
            <ion-button fill="clear" color="light" (click)="CheckInputsEmptyString()">Save</ion-button>
          </div>
          <ion-grid>
            <ion-row>
              <ion-col class="input-textfields">
                <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;"
                  placeholder="Weight in Kilograms" [(ngModel)]="GH001mass2"><br>
                <p id="CODE">GL001</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>
    <div class="userForm" id="driver-details" *ngIf="slideOne === true">
      <div class="RecyleLogo">
        <img src="../../assets/icon/Asset 10.svg" alt="">
      </div>
      <div class="Purple">
        <img id="bubbles"
          src="../../assets/icon/outboundPOPup                                                                .svg"
          alt="">
      </div>


      <!-- <div class="truck-div">
        <img src="../../assets/outboundPopup.svg" alt="">
      </div> -->
      <div class="heading-block">
        Outbound Details
      </div>
      <div class="flow-container">
        <div class="blockItems" id="absolutely">
          <div class="flyer-inputs">
            <div class="Searhcer">
              <!-- code for auto complete -->
              <div class="results">
                <p *ngFor="let g of searchResults" (click)="selectLocation(g)" (click)="nextClick()"> {{ g }} </p>
                <div class='count' *ngIf="searchResults.length > 0">
                  {{ searchResults.length }}
                </div>
              </div>
              <!-- <ion-input type="text" placeholder="MyLocation" [(ngModel)]="myLocation"></ion-input> -->
              <ion-searchbar name="search" placeholder="Search by Driver's Name" (ionInput)="getItems($event)"></ion-searchbar>
            </div>
            <div class="contact-cards">

              <ion-card *ngFor="let records of recordoutbounddisplays">
                <ion-card-header (click)='presentAlertAddUser(records.id)'>
                  <!-- <ion-card-title>{{ records }}</ion-card-title> -->
                  <ion-card-title>{{ records.DriverName }}</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                  {{ records.RegistarionNumberPlates }}<br>
                  {{ records.truckcode }}
                </ion-card-content>
              </ion-card>

            </div>
            <div class="clicker">
              <ion-button id="add-new-driver" (click)="nextClick()">
                <ion-icon name="add"></ion-icon>New Driver
              </ion-button>
            </div>
          </div>
        </div>
        <div class="blockItems">
          <div class="details-driver" *ngIf="driverInfo === true" padding>
            <div id="user-profile">
              <div id="user-pic">
                <label for="disapear">
                  <ion-icon id="Addd" name="add"></ion-icon>
                </label>
                <img *ngIf="!image" src="../../assets/mthombologo (1).png" alt=""> 
                <img *ngIf="image" src="{{ image }}" alt="">
                <input id="disapear" class="image-upload"  type="file"  accept="image/*" (change)="changeListener($event)" align="center">
              </div>
            </div><br>
            <form [formGroup]="RegisterForm">
              <input type="text" placeholder="Driver Name & Surname" [(ngModel)]="DriverNameInput"
                formControlName="DriverNameInput">
                <input type="tel" placeholder="Phone Numbers" [(ngModel)]="PhoneNumbersInput"
              formControlName="PhoneNumbersInput" maxlength="10" (keyup)="getPhoneInput($event)">
              <input type="text" placeholder="Registration No." [(ngModel)]="RegistarionNumberPlatesInput"
                formControlName="RegistarionNumberPlatesInput">
              <input type="text" placeholder="Company Name" [(ngModel)]="TruckSourcessInput"
                formControlName="TruckSourcessInput"> 
              <input type="text" placeholder="Campany Address" [(ngModel)]="CompanyAddressInput"
              formControlName="CompanyAddressInput"> 
            </form>
          </div>
        </div>
      </div>
      <div class="bottom-button">
        <ion-button color="clear" id="FinishBTN" (click)="doneBtn()" (click)="showWasteInfo()"
          [disabled]="!RegisterForm.valid">
          Next
        </ion-button>
      </div>
    </div>

  </div>
  <div class="top-blocks">
    <div class="waste-blocks" id="Paper" (click)="showPopUp('paper')">
      <!-- <img src="../../assets/Asset 9.svg" alt=""> -->
      <p>PAPER</p>
    </div>
    <div class="waste-blocks" id="Plastic" (click)="showPopUp('plastic')">
      <!-- <img src="../../assets/Asset 9.svg" alt=""> -->
      <p>PLASTIC</p>
    </div>
    <div class="waste-blocks" id="Aluminium" (click)="showPopUp('aluminium')">
      <!-- <img src="../../assets/Asset 9.svg" alt=""> -->
      <p>ALUMINIUM</p>
    </div>
    <div class="waste-blocks" id="Glass" (click)="showPopUp('glass')">
      <!-- <img src="../../assets/Asset 9.svg" alt=""> -->
      <p>GLASS</p>
    </div>
  </div>
  <div class="history" padding>
    <h4 class="Title" padding>All Storage Material</h4>
    <div class="line-breaker"></div>
    <div class="history-labels">  
      <div class="userId">Code</div>
      <div class="name">Driver Name</div>
      <div class="regNo">Registration No.</div>
      <div></div>
     </div><!-- end of history-labels -->
<div class="scrolling">
    <div class="itemList" *ngFor="let records of recordoutbounddisplayshome">
      <div class="userId" style="font-family: Microsoft YaHei UI;font-size: 15px;">{{ records.truckcode }}</div>
      <div class="name" style="font-family: Microsoft YaHei UI;font-size: 15px;">{{ records.DriverName }}</div>
      <div class="regNo" style="font-family: Microsoft YaHei UI;font-size: 15px;">{{ records.RegistarionNumberPlates }}</div>
      <div class="icon"><ion-button [routerLink]="['/outbound-driver-info', records.id]" fill="clear"  slot="icon-only"><ion-icon mode="ios" name="eye"></ion-icon></ion-button>
      </div>
      <div>
        <ion-icon name="trash" (click)='presentAlertDelete(records.id)'></ion-icon>
      </div>
       </div>
    </div>
  </div>
</ion-content>