ion-header {
  --background: rgb(85,140,3) !important;
  display: flex;
  // border: 2px solid rgb(17, 0, 255);
}
ion-toolbar {
  display: flex;
  flex-direction: row;
}

.heading {
  padding-left: 2%;
  font-family: 'lato';
  font-size: 1.1em;
 padding-bottom: 2%;
  position: relative;
  letter-spacing: 0.5px;

  &::after {
    position: absolute;
    bottom: 8% !important;
    left: 2%;
    width: 4%;
    height: 2px;
    content: '';
    background: #ddd;
    border-radius: 50px;

  }
}
#TheLoGoutBTN {
  background-color: white;
  border-radius: 50px;
  color: black;
  margin-top: 10px;
}
#LogOutIco {
  color: brown;
}

.logger {
  // border: 2px solid green;
  background-color:#548d04;
  width: 50%;
  height: 55px;
  ion-button {
    text-transform: capitalize;
    position: absolute;
    right: 10px;
  }
}

.navCont {
  // border: 2px solid red;
  width: 50%;
  height: 55px;
  display: flex;
}
.navCont > div {
  // border: 1px solid red;
  background-color: rgb(85,140,3);
}
#userName {
  padding-left: 10px;
  font-size: 14px;
  line-height: 55px;
  font-weight: 500;
  color: white;
}
.navCont > div:nth-child(1) {
  width: 55px;
  img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
    margin: 2.5px;
  }
}
.navCont > div:nth-child(2) {
  width: calc(100% - 55px);
}

//container

.top-blocks {
  width: 100%;
  padding: 10px;
  height: 35vh;
   background: white;
  overflow-x: scroll;
  display: flex;
  .waste-blocks {
    width: 23%;
    min-width: 200px;
    height: 90%;
    background: white;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.493);
    img {
      width: 100%;
      min-width: 90px;
      max-width: 150px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    p {
      font-size: 2vh;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-100%);
      width: 90%;
      background: #548d04;
      padding: 10px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.493);
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      color: white;
    }
  }
}
.history {
width: 100%;
 height: 60%;
 display: flex;
 flex-direction: column;
  position: relative;
  padding: 0;
  margin: 0;
  //background: aqua;
}

.history-labels {
  width: 96%;
  margin-left: 2%;
  margin-top: 1%;
  height: 35px;
  background: rgb(209,44,111);
  color: white;
  display: flex;
  font-family: 'lato';
  letter-spacing: 0.5px;
  font-size: 18px;


}
.userId {
  //border: 1px solid black;
  width: 15%;
  padding-left: 5px;
  display: flex;
  align-items: center;
}
.name {
//  border: 1px solid black;
  width: 30%;
  padding-left: 5px;
  display: flex;
  align-items: center;
}
.regNo {
  padding-left: 5px;
  display: flex;
  align-items: center;
  
}

.icon {
  padding-left: 5px;
  display: flex;
  align-items: center;
 // border: 2px solid red;
  width: 20%;
  position: absolute;
  right: 2%;
  height: 35px;
}
.scrolling {
 // border: 1px solid red;
  width: 96%;
  position: relative;
  left: 2%;
  height: 80%;
}

.itemList {
  background-color: #eeeaea;
  display: flex;
  height: 30px;
  width: 100%;
}

.mother {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.452);
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .userForm {
    width: 100%;
    height: 100%;
    max-width: 729px;
    max-height: 752px;
    background: white;
    border-radius: 10px;
    margin: 0 auto;
    z-index: 10;
    position: relative;
    //  overflow: hidden;

    .Purple{
       overflow: hidden;
       height: 90%;
       width: 100%;
       position: absolute;
       bottom: 0px;
      //  border: solid 2px red;
       img{
         transform: scale(1.5);
         position: absolute;
         top: 222px;
       }
     }
  }
  .dismissOverlay {
    width: 100%;
    height: 100%;
    // background: red;
    position: absolute;
    z-index: 1;
    cursor: pointer;
  }
}

.waste-materials {
  width: calc(100% - 50px);
  margin: 0 auto;
  height: 100px;
  display: flex;
  border-bottom:   solid 1px black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
}

.waste-materials > div {
  width: 23%;
  height: 50px;
  // background-color: #497529;
  margin: 5px auto;
  margin-top: 20px;
  text-align: center;
  line-height: 50px;
  color: white;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}

#isPaper,
#isPlastic,
#isAluminium,
#isGlass {
  background: grey;
}

.SecSection {
  width: 100%;
  height: calc(100% - 100px);
  // background: red;
}

.Material-inputs {
  width: 100%;
  height: 100%;
  z-index: 10;
  // background: purple;
  padding-right: 16px;
  padding-left: 16px;
}
.input-textfields > input {
  width: 100%;
  height: 40px;
  background: #eaeaea;
  border: 0px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.input-textfields > p {
  text-align: right;
  font-weight: bold;
}

ion-col {
  width: 100%;
  min-width: 250px;
  text-align: center;
}

.singular-input {
  width: 80% !important;
}

#forPaper {
  // this will appear when paper has been selected
  // display: none;
}
#forPlastic {
  // this will appear when plastic has been selected
  // display: none;
}
#forAluminium {
  // this will appear when aluminium has been selected
  // display: none;
}
#forGlass {
  // this will appear when glass has been selected
  // display: none;
}

.RecyleLogo {
  // transform: scale(0.5 , 0.5);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
  width: 300px;
  height: 300px;
  // opacity: 0.5;
  overflow: hidden;
  img {
    transform: translate(10%, -10%);
  }
}

#Opaque{
  opacity: 0.3;
}

.Recycle-Bins {
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 10px;
  height: 100px;
  z-index: 10 !important;
  img {
    transform: translate(-45%, -40%) scale(30);
  }
}


.Next-button {
  background: #548d04;
  width: 97.5%;
  height: 50px;
  position: absolute;
  bottom: 0;
  z-index: 1;
  ion-button {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    height: 91%;
    width: 100%;
  }
}
ion-grid {
  //  height: 100%
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // border: solid 2px orange;
}

#materials-form {
  // display: none;
}
#driver-details {
}
.bottom-button{
  width: 100%;
  height: 80px;
  // background: brown
}
.flow-container {
  width: 100%;
  height: calc(100% - 160px);
  // background: red;
  display: flex;
}
#absolutely{
  z-index: 10;
}
.heading-block {
  width: 100%;
  height: 80px;
  font-weight: bold;
  font-size: 2.5vh;
  line-height: 80px;
  text-align: center;
}
.blockItems {
  width: 100%;
  height: 100%;
  // border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.flyer-inputs {
  background: white;
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.589);
  border-radius: 10px;
  position: absolute;
  right: -75%;
  width: 150%;
  height: 90%;
  transition: 300ms;
}

.details-driver {
  position: absolute;
  width: 90%;
  height: 80%;
  background: white;
  box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.589);
  border-radius: 10px;
  animation: 300ms sliderIn;
  display: flex;
  flex-direction: column;
  // justify-content: center;
}
.clicker{
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

@keyframes sliderIn {
  0% {
    left: -100%;
    // opacity: 0;
  }
  100% {
    left: 0;
    // opacity: 1;
  }
}

.contact-cards{
  // border: solid 2px red;
  width: 100%;
  height: 393px;
  overflow-y: scroll;
}
form{
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

form > input{
  height: 38px;
  width: 259px;
  margin-bottom: 10px;
  border: 0;
  background: #DAE0E3;
  border-radius: 5px;
  padding-left: 8px;
}

#FinishBTN {
  width: 70%;
  height: 45px;
  border-right: 0px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  background: linear-gradient(to left, rgb(196, 170, 211) 10%, #a571c3 100%);
  // background-color: rgb(0,181,151);
  position: absolute;
  right: 0%;
  bottom: 0%;
  // color: white;
  font-weight: 600;
}

.Purple{
    position: absolute;
    bottom: 0;
    left: 0;
    // z-index: -10;
    width: 100%;
    height: 150%;
    
    overflow: hidden;
    /* transform: scale(3 , 3); */
    img{
      overflow: hidden;
    }
}


#CODE{
  padding-right: 58px;
}

.truck-div{
  border: solid solid 2px;
  position: absolute;
  bottom: -20%;
  top: 0;
  left: 0;
  // right: 20px;
  z-index: 10;
  width: 150px;
  height: 150px;
  // opacity: 0.5;
  // overflow: hidden;
  img {
    // transform: translate(10%, -10%);
  }
}

#Paper{
  background-image: url(../../assets/ColorFullMagazines.jpg);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

#Plastic{
  background-image: url(../../assets/BluCapPlasticBottle.jpg);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
#Aluminium{
  background-image: url(../../assets/SquashedRedCan.jpg);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
#Glass{
  background-image: url(../../assets/WhiteWineGlass.jpg);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}


.results {
  position: absolute;
  color: rgb(66, 231, 44);
  top: 55px;
  left: 10px;
  right: 10px;
  max-height: 80%;
  background: whitesmoke;
  z-index: 10;
  overflow-y: auto;
  justify-content: left;
  border-radius: 10px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  p {
    margin: 3px;
    padding: 10px;
    background: linear-gradient(90deg, rgb(223, 223, 223), white);
    color: rgb(68, 68, 68);
    border-radius: 7px;
  }
  .count {
    pointer-events: none;
    opacity: 0.1;
    position: fixed;
    top: 54px;
    right: 50vw;
    transform: translateX(10px);
    background: black;
    color: white;
    padding: 10px;
    border-radius: 0px 0px 15px 15px;
  }
}

#add-new-driver{
  // border: solid 2px red;
  width: 105px;
  font-size: 60%;
  background-color: rgb(85,140,3);
}

.The-header{
   border: solid white 2px;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  h1{
    font-family: 'lato';
    font-size: 1.1em;
  }
}
.sub-header{
  // border: solid 2px yellow;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
}

.log-out{
  // border: solid 2px purple;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
}

.log-out > ion-icon{
  position: absolute;
  right: 0px;
  padding-right: 30px;
  font-size: 30px;
  color: brown;
}

.line-breaker{
  border: solid 1px rgb(153, 152, 152);
  border-bottom:0px;
  border-right: 0px;
  border-left: 0px;
  width: 5%;
  margin-left: 10px;
  margin-bottom: 15px;
  position: relative;
  top: 5px;
}

.Title{
  // border: solid 2px red;
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  h2{
    font-family: 'lato';
    font-size: 1.1em;
  }
}

#user-profile{
  height: 30%;
  width: 100%;
  // border: solid red 2PX;
  display:flex;
  justify-content: center;
}

#user-pic{
  width:110px;
  height: 110px;
  border-radius: 100px;
  // border: solid 2px purple;

  img{
  width:110px;
  height: 110px;
  border-radius: 100px;
  border: solid 1px rgba(2, 42, 46, 0.377);
  }
}

#disapear{
  display: none;

}


#Addd{
  position: absolute;
  right: 109px;
  top: 100px;
  border: solid 2px #548d04;
  border-radius: 50px;
  color: #548d04;
  font-size: 20px;
  background-color: white;
  // box-shadow: 0px -1px 15px black;
}





@media screen and (max-width:450px){
  .The-header{
    // border: solid red 2px;
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    h1{
      font-family: 'Montserrat', sans-serif;
      font-size: 15px;
    }
  }  
.log-out{
  // border: solid 2px purple;
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
}
.log-out > ion-icon{
  position: absolute;
  right: 0px;
  padding-right: 30px;
  font-size: 25px;
  color: brown;
}


.Title{
  // border: solid 2px red;
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
  }
}

.history {
  width: 100%;
  height: calc(100% - 35vh);
  // background: red;
  overflow-y: scroll;
  padding: 10px;
}

.history-labels {
  width: 100%;
  max-width: 410px;
  height: 40px;
  background: rgb(206, 11, 125);
  color: white;
  display: flex;
}
.history-labels > div {
  height: 40px;
  min-width: 100px;
  line-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  // border: solid 2px yellow;
}

.history-labels > div:nth-child(1) {
  width: 20%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
}
.history-labels > div:nth-child(2) {
  // border-left: 1px solid black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  width: 20%;
}
.history-labels > div:nth-child(3) {
  // border-left: 1px solid yellow;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 20px;
  width: 20%;
}
.history-labels > div:nth-child(4) {
  // border-left: 1px solid blue;
  width: 20%;
}
.history-labels > div:nth-child(5) {

}

.itemList {
  background-color: #eeeaea;
  display: flex;
  height: 35px;
  width: 100%;
  word-wrap: break-word;
}

.itemList > div {
  height: 35px;
  min-width: 100px;
  line-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  // border: solid 2px purple;
}

.itemList > div:nth-child(1) {
  width: 20%;
  font-size: 15px;
  font-family: 'Open Sans Condensed', sans-serif;
}
.itemList > div:nth-child(2) {
  width: 20%;
  font-size: 15px;
  font-family: 'Open Sans Condensed', sans-serif;
}
.itemList > div:nth-child(3) {
  width: 20%;
  font-size: 15px;
  font-family: 'Open Sans Condensed', sans-serif;
}
.itemList > div:nth-child(4) {
  width: 20%;
  font-size: 15px;
  font-family: 'Open Sans Condensed', sans-serif;
}
.itemList > div:nth-child(5) {
   width: 10%;
  text-align: center;
  color: brown;
}
.itemList > div:nth-child(6) {
   width: 10%;
  text-align: center;
}

.itemList:nth-child(even) {
  background: white;
}
.itemList:nth-child(odd) {
  background: #eaeaea;
}

.mother {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.452);
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 4px solid green;
  .userForm {
    width: 100%;
    height: 89%;
    max-width: 600px;
    max-height: 600px;
    background: white;
    border-radius: 10px;
    margin: 0 auto;
    z-index: 10;
    position: relative;
    //  overflow: hidden;

    .Purple{
       overflow: hidden;
       height: 90%;
       width: 100%;
       position: absolute;
       bottom: 0px;
      //  border: solid 2px red;
       img{
         transform: scale(1.5);
         position: absolute;
         top:274px;
       }
     }
  }
  .dismissOverlay {
    width: 100%;
    height: 100%;
    // background: red;
    position: absolute;
    z-index: 1;
    cursor: pointer;
  }
}


.contact-cards{
  // border: solid 2px red;
  width: 100%;
  height: 280px;
  overflow-y: scroll;

  ion-card-title{
    font-size: 15px;
  }
}


form > input{
  height: 45px;
  width: 259px;
  max-width: 150px;
  margin-bottom: 10px;
  border: 0;
  background: #EAEAEA;
  border-radius: 5px;
  padding-left: 8px;
}


.waste-materials {
  width: calc(100% - 50px);
  margin: 0 auto;
  height: 100px;
  display: flex;
  border-bottom:   solid 1px black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 18px;
}

.waste-materials > div {
  width: 23%;
  height: 50px;
  // background-color: #497529;
  margin: 5px auto;
  margin-top: 20px;
  text-align: center;
  line-height: 50px;
  color: white;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}


}