
<ion-content>
  <div class="mother" *ngIf="popOpOpen === true" >
    <ion-button id="close"  fill="clear"  slot="icon-only" (click)="goAway()" ><ion-icon name="close-circle-outline"></ion-icon></ion-button>
<div class="slides-container">

  <div class="children-slides">
    <ion-slides #slides pager [options]="slideOpts" (ionSlideDidChange)="slideChanged()" >
      <!-- slide 1 -->
      <ion-slide >
        
         </ion-slide>
    <!-- slide 2 -->
      <ion-slide > 
        <div class="userForm" id="materials-form" *ngIf="slideTwo === true">
          <!-- this is for the materials form -->
          <div class="waste-materials">
            <div (click)="togglePaper()" id="isPaper">PAPER</div>
            <div (click)="togglePlastic()" id="isPlastic">PLASTIC</div>
            <div (click)="toggleAluminium()" id="isAluminium">ALUMINIUM</div>
            <div (click)="toggleGlass()" id="isGlass">GLASS</div>
    
          </div>
    
          <div class="RecyleLogo">
            <img  id="Opaque" src="../../assets/icon/Asset 10.svg" alt="">
          </div>
          <div class="Recycle-Bins">
            <img src="../../assets/binsPopup  2.svg" alt="">
          </div>
          <div class="SecSection">
            <!-- For Paper -->
    
            <div class="Material-inputs" id="forPaper" *ngIf="isPaper === true">
              <!-- paper -->
              <div class="Next-button">
                <ion-button fill="clear" color="light" (click)="togglePlastic()">Next</ion-button>
              </div>
              <ion-grid>
                <ion-row>
                  <ion-col class="input-textfields" size="6">
                    <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;"
                      placeholder="Weight in Kilograms" [(ngModel)]="PAP005mass2"><br>
                    <p>PAP005</p>
                  </ion-col>
    
                  <ion-col class="input-textfields" size="6">
                    <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;"
                      placeholder="Weight in Kilograms" [(ngModel)]="PAP007mass2"><br>
                    <p>PAP007</p>
                  </ion-col>
    
                  <ion-col class="input-textfields" size="6">
                    <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;"
                      placeholder="Weight in Kilograms" [(ngModel)]="PAP001mass2"><br>
                    <p>PAP001</p>
                  </ion-col>
    
                  <ion-col class="input-textfields" size="6">
                    <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;"
                      placeholder="Weight in Kilograms" [(ngModel)]="PAP003mass2"><br>
                    <p>PAP003</p>
                  </ion-col>
    
                </ion-row>
              </ion-grid>
            </div>
            <!-- For PLAstic -->
            <div class="Material-inputs" id="forPlastic" *ngIf="isPlastic === true">
              <!-- plastic -->
              <div class="Next-button">
                <ion-button fill="clear" color="light" (click)="toggleAluminium()">Next</ion-button>
              </div>
              <ion-grid>
                <ion-row>
                  <ion-col class="input-textfields" size="6">
                    <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;"
                      placeholder="Weight in Kilograms" [(ngModel)]="HD001mass2"><br>
                    <p>HD001</p>
                  </ion-col>
    
                  <ion-col class="input-textfields" size="6">
                    <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;"
                      placeholder="Weight in Kilograms" [(ngModel)]="LD001mass2"><br>
                    <p>LD001</p>
                  </ion-col>
    
                  <ion-col class="input-textfields" size="6">
                    <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;"
                      placeholder="Weight in Kilograms" [(ngModel)]="LD003mass2"><br>
                    <p>LD003</p>
                  </ion-col>
    
                  <ion-col class="input-textfields" size="6">
                    <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;"
                      placeholder="Weight in Kilograms" [(ngModel)]="PET005mass2"><br>
                    <p>PET005</p>
                  </ion-col>
                  <ion-col class="input-textfields" size="6">
                    <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;"
                      placeholder="Weight in Kilograms" [(ngModel)]="PET001mass2"><br>
                    <p>PET001</p>
                  </ion-col>
    
                  <ion-col class="input-textfields" size="6">
                    <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;"
                      placeholder="Weight in Kilograms" [(ngModel)]="PET003mass2"><br>
                    <p>PET003</p>
                  </ion-col>
    
                </ion-row>
              </ion-grid>
            </div>
            <!-- For Aluminium -->
            <div class="Material-inputs" id="forAluminium" *ngIf="isAluminium === true">
              <!-- Aluminium -->
              <div class="Next-button">
                <ion-button fill="clear" color="light" (click)="toggleGlass()">Next</ion-button>
              </div>
              <ion-grid>
                <ion-row>
                  <ion-col class="input-textfields">
                    <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;"
                      placeholder="Weight in Kilograms" [(ngModel)]=" NFAL01mass2"><br>
                    <p id="CODE">NFAL01</p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
            <!-- For Glass -->
            <div class="Material-inputs" id="forGlass" *ngIf="isGlass === true">
              <!-- Glass -->
              <div class="Next-button">
                <ion-button fill="clear" color="light" (click)="CheckInputsEmptyString()">Save</ion-button>
              </div>
              <ion-grid>
                <ion-row>
                  <ion-col class="input-textfields">
                    <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;"
                      placeholder="Weight in Kilograms" [(ngModel)]="GH001mass2"><br>
                    <p id="CODE">GL001</p>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </div>
          </div>
        </div>
      
      </ion-slide>
          <!-- slide 3 -->
      <ion-slide id="slide3">
<div class="map"></div>
<div class="mapInfo">
  <p id="p">Choose destination by clicking on the map above or type address below</p>
    <input type="text" placeholder="Enter destination">
  <p class="text">Estimated distance to destination in kilometers <br><span>80km</span> </p>
  <p class="text">Estimated time to destination in minutes <br> <span>155min</span></p>

</div>
         </ion-slide>
     </ion-slides>
  </div>

  <div class="btn-slides">
    <ion-button  (click)="previslide()" *ngIf="isBeginning">back</ion-button>
   
    <ion-button  (click)="nextislide()">{{nextText}}</ion-button>
  </div>
</div><!-- end of slides -->




    <!-- <div class="dismissOverlay" (click)="goAway()"></div> -->

    <div class="userForm" id="materials-form" *ngIf="slideTwo === true">
      <!-- this is for the materials form -->
      <div class="waste-materials">
        <div (click)="togglePaper()" id="isPaper">PAPER</div>
        <div (click)="togglePlastic()" id="isPlastic">PLASTIC</div>
        <div (click)="toggleAluminium()" id="isAluminium">ALUMINIUM</div>
        <div (click)="toggleGlass()" id="isGlass">GLASS</div>

      </div>

      <div class="RecyleLogo">
        <img  id="Opaque" src="../../assets/icon/Asset 10.svg" alt="">
      </div>
      <div class="Recycle-Bins">
        <img src="../../assets/binsPopup  2.svg" alt="">
      </div>
      <div class="SecSection">
        <!-- For Paper -->

        <div class="Material-inputs" id="forPaper" *ngIf="isPaper === true">
          <!-- paper -->
          <div class="Next-button">
            <ion-button fill="clear" color="light" (click)="togglePlastic()">Next</ion-button>
          </div>
          <ion-grid>
            <ion-row>
              <ion-col class="input-textfields" size="6">
                <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;"
                  placeholder="Weight in Kilograms" [(ngModel)]="PAP005mass2"><br>
                <p>PAP005</p>
              </ion-col>

              <ion-col class="input-textfields" size="6">
                <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;"
                  placeholder="Weight in Kilograms" [(ngModel)]="PAP007mass2"><br>
                <p>PAP007</p>
              </ion-col>

              <ion-col class="input-textfields" size="6">
                <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;"
                  placeholder="Weight in Kilograms" [(ngModel)]="PAP001mass2"><br>
                <p>PAP001</p>
              </ion-col>

              <ion-col class="input-textfields" size="6">
                <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;"
                  placeholder="Weight in Kilograms" [(ngModel)]="PAP003mass2"><br>
                <p>PAP003</p>
              </ion-col>

            </ion-row>
          </ion-grid>
        </div>
        <!-- For PLAstic -->
        <div class="Material-inputs" id="forPlastic" *ngIf="isPlastic === true">
          <!-- plastic -->
          <div class="Next-button">
            <ion-button fill="clear" color="light" (click)="toggleAluminium()">Next</ion-button>
          </div>
          <ion-grid>
            <ion-row>
              <ion-col class="input-textfields" size="6">
                <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;"
                  placeholder="Weight in Kilograms" [(ngModel)]="HD001mass2"><br>
                <p>HD001</p>
              </ion-col>

              <ion-col class="input-textfields" size="6">
                <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;"
                  placeholder="Weight in Kilograms" [(ngModel)]="LD001mass2"><br>
                <p>LD001</p>
              </ion-col>

              <ion-col class="input-textfields" size="6">
                <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;"
                  placeholder="Weight in Kilograms" [(ngModel)]="LD003mass2"><br>
                <p>LD003</p>
              </ion-col>

              <ion-col class="input-textfields" size="6">
                <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;"
                  placeholder="Weight in Kilograms" [(ngModel)]="PET005mass2"><br>
                <p>PET005</p>
              </ion-col>
              <ion-col class="input-textfields" size="6">
                <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;"
                  placeholder="Weight in Kilograms" [(ngModel)]="PET001mass2"><br>
                <p>PET001</p>
              </ion-col>

              <ion-col class="input-textfields" size="6">
                <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;"
                  placeholder="Weight in Kilograms" [(ngModel)]="PET003mass2"><br>
                <p>PET003</p>
              </ion-col>

            </ion-row>
          </ion-grid>
        </div>
        <!-- For Aluminium -->
        <div class="Material-inputs" id="forAluminium" *ngIf="isAluminium === true">
          <!-- Aluminium -->
          <div class="Next-button">
            <ion-button fill="clear" color="light" (click)="toggleGlass()">Next</ion-button>
          </div>
          <ion-grid>
            <ion-row>
              <ion-col class="input-textfields">
                <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;"
                  placeholder="Weight in Kilograms" [(ngModel)]=" NFAL01mass2"><br>
                <p id="CODE">NFAL01</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
        <!-- For Glass -->
        <div class="Material-inputs" id="forGlass" *ngIf="isGlass === true">
          <!-- Glass -->
          <div class="Next-button">
            <ion-button fill="clear" color="light" (click)="CheckInputsEmptyString()">Save</ion-button>
          </div>
          <ion-grid>
            <ion-row>
              <ion-col class="input-textfields">
                <input type="number" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==4) return false;"
                  placeholder="Weight in Kilograms" [(ngModel)]="GH001mass2"><br>
                <p id="CODE">GL001</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>
      </div>
    </div>
 </div><!-- end of mother -->

<!-- adding parent div -->
<div class="parentDiv">
  <div class="head">
    <h3>Record all your dispatch material here</h3>
  </div>
  <div class="top-blocks">
    <div class="waste-blocks" id="Paper" (click)="showPopUp('paper')">
      <!-- <img src="../../assets/Asset 9.svg" alt=""> -->
      <p>PAPER</p>
    </div>
    <div class="waste-blocks" id="Plastic" (click)="showPopUp('plastic')">
      <!-- <img src="../../assets/Asset 9.svg" alt=""> -->
      <p>PLASTIC</p>
    </div>
    <div class="waste-blocks" id="Aluminium" (click)="showPopUp('aluminium')">
      <!-- <img src="../../assets/Asset 9.svg" alt=""> -->
      <p>ALUMINIUM</p>
    </div>
    <div class="waste-blocks" id="Glass" (click)="showPopUp('glass')">
      <!-- <img src="../../assets/Asset 9.svg" alt=""> -->
      <p>GLASS</p>
    </div>
  </div><!-- end of top-blocks -->

  <div class="history" >
    <h4 class="heading">All Storage Material</h4>

    <div class="history-labels">  
      <div class="userId">Code</div>
      <div class="name">Driver Name</div>
      <div class="regNo">Registration No.</div>
      <div></div>
     </div><!-- end of history-labels -->
<div class="scrolling">
    <div class="itemList" *ngFor="let records of recordoutbounddisplayshome">
      <div class="userId" style="font-family: Microsoft YaHei UI;font-size: 15px;">{{ records.truckcode }}</div>
      <div class="name" style="font-family: Microsoft YaHei UI;font-size: 15px;">{{ records.DriverName }}</div>
      <div class="regNo" style="font-family: Microsoft YaHei UI;font-size: 15px;">{{ records.RegistarionNumberPlates }}</div>
      <div class="icon"><ion-button [routerLink]="['/outbound-driver-info', records.id]" fill="clear"  slot="icon-only"><ion-icon mode="ios" name="eye"></ion-icon></ion-button>
      </div>
      <!-- <div>
        <ion-icon name="trash" (click)='presentAlertDelete(records.id)'></ion-icon>
      </div> -->
       </div>
    </div>
  </div><!-- end of history -->
</div>
 


 
</ion-content>