.Mother{
    height: 100%;
    width: 100%;
    border: solid 2px red;
}

.Son{
    height: 100%;
    width:100%;
    border: solid black;
    background-color: rgba(0, 0, 0, 0.521);
}
.Daughter{
    height: 75%;
    border-radius: 10px;
    width: 50%;
    background-color: white;
    // border: solid 2px purple;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display:flex;
    flex-direction: column;
    overflow: hidden;

}

.TheCont{
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

.LEFT{
    // border: solid 2px black;
    height: 8%;
    width: 100%;
}

#GO{
    font-size: 190%;
    color: #183B03;
}

.Tittle{
    text-align: center;
    position: relative;
    bottom: 30px;
}

.FirstIMG{
//  border: solid 2px purple;
 height: 50%;
 width: 100%;
 z-index: 100000000000;

 img {
     opacity: .4;
 }
}

.SecIMG{
//  border: solid 2px purple;
 height: 50%;
 width: 100%;
 z-index: 100000000000;
}

#RecyleIMG{
    height: 50%;
    width: 50%;
    //margin-left: 32%;
    position: absolute;
    top: -13%;
    right: -13%;
    overflow: hidden;


}

#PurpleBubbles{
    position: absolute;
    bottom: -45%;
    right: -24%;
    height: 780px;

}
img {
    max-width: 1000px;
    border: 0;
}


.Mask{
    height: 75%;
    border-radius: 10px;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0);
    z-index: 100000;
}

.TheTruck{
    position: absolute;
}

.Content{
    // border: purple solid 2px;
    height: 65%;
    width: 100%;
    display:flex;
    flex-direction: row;  
     margin-left: 5%;
}


.Group2{
    width: 50%;
    height: 100%;
    // background-color: rgb(35, 3, 65);
    display: flex;
    align-items: center;
}

.Group1{
    width: 40%;
    height: 100%;
    border-radius: 5px;
    background-color: #F4F4F4;
    box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.589);
}

.Sub2{
    width: 100%;
    height: 90%;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.589);
}

.theSearch{
    height: 15%;
    width: 100%;
    // border: grey solid 2px;
    display: flex;
    align-items: center;
}

#theSearchbar{
    width: 95%;
    height: 70%;
    margin-left: 2.5%;
    // border: purple solid 2px;
    border-radius: 10px;
    border-top: 0px;
    border-left: 0px;
    font-size: 80%;
    background-color: white ;
    box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.274);
}

::placeholder{
    font-size: 100%;
    padding-left: 4%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
}

.TheContent{
    height: 68%;
    width: 98%;
    //border: solid 2px blue;
    background-color: rgb(255, 255, 255);
    position: relative;
    bottom: 5px;
    border-radius: 6px;
}

ion-card{
    background-color:#F4F4F4;
    // position: absolute;
}

.Thebutton{
    height: 15%;
    width: 100%;
    // border: solid 2px orangered;
    display: flex;
    justify-content: center;
    align-items: center;
}

h5{
    color: black;
}

.AddDriver{
    background-color: #558703;
    height: 50%;
    border-radius: 3px;
    font-size: 60%;
}

#theH3{
    font-weight: 700;
    text-align: center;
}

.DriverInputs{
    height: 210px;
    width: 100%;
    // border: solid 2px purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
#input{
    // border: blueviolet solid 2px;
    width: 90%;
    margin-bottom: 10px;
    height: 100px;
    background: #EAEAEA;
    border-radius: 5px;
    border-left: 0px;
    border-top: 0px;
}

.DoneBTN{
    display: flex;
    align-items: center;
    justify-content: right;
    // border: blueviolet solid 2px;
    height: 50px;
}

#Done{
    background-color: #558703;
    height: 28px;
    width: 100px;
    border-radius: 3px;
    font-size: 60%;
    position: absolute;
    right:7%;
}


#TruckIMG{
    height: 80px;
    position: absolute;
    top: 198px;
    left: 15px;
}

.Finish{
    // border: solid 2px green;
    height: 15%;
    width: 100%;
    position: absolute;
    bottom: -0%;
}

#FinishBTN{
    // border: blueviolet solid 2px;
    width: 70%;
    height: 54%;
    border-right: 0px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background: linear-gradient(to left, rgb(196, 170, 211) 10%, #A571C3 100%);
    position: absolute;
    right: 0%;
    bottom: 0%;
    color: white;
    font-weight: 600;
}






















.TheCont{
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}
.Mother{
    height: 100%;
    width: 100%;
    border: solid 2px red;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100000000000000000000000000000000000000000000000000000000000000000000;
}
#Son{
    height: 100%;
    width: 100%;
    border: solid 2px black;
}
#Daughter{
    height: 59%;
    width: 50%;
    // border: solid 2px purple;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%,-50%);
}

#Header{
    // border: rgb(0, 0, 0) solid 1px;
    // border-top: 0;
    // border-right: 0;
    // border-left: 0;
    width: 95%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%)
}
#Header > div {
    cursor: pointer;
}
#line{
width: 95%;
border:1px solid black;
position: absolute;
bottom: 0;
height: 10%;
border-right: 0;
border-left: 0;
border-bottom: 0;
}

h4{
    // text-align: center;
    font-weight: 20;
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    bottom: 13%;
    font-size: 150%;
}

#Paper{
    // border: solid blueviolet 2px;
    height: 50%;  
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Aluminium{
    background:#568C0B;
    border-radius: 2px;
    height: 50%;
    color: white;
    width: 25%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Plastic{
    // border: solid blueviolet 2px;
    height: 50%;
    width: 25%;   
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Glass{
    // border: solid blueviolet 2px;
    height: 50%;
    width: 25%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Info{
    // border: rgb(132, 102, 160) solid 2px;
    height: cal(100% -50px);
    width: 100%;
    // margin-top: 60px;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
}
.myInfo{
    width: 100%;
    height: calc(100% - 80px);
    // background: red;
    // overflow-y: scroll;
    // background: red;;
}
#toFlex{
    width: 100%;
    height: 100%;
    padding-top: 40px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
}
#toPaper{
    display: flex;
}
#toPlastic, #toAluminium, #toGlass{
    display: none;
}
.for-plastic{
    width: 100%;
    height: 100%;
    // background: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.for-paper{
    width: 100%;
    height: 100%;
    // background: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.for-Aluminium{
    width: 100%;
    height: 100%;
    // background: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.for-Glass{
    width: 100%;
    height: 100%;
    // background: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}







.FirstRow{
    // border: crimson solid 2px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    height: 20%;
    display:flex;
    flex-direction: row;
}

#FirstCol{
    // border: cyan solid 2px;
    height: 100%;
    width: 50%;
    display: flex;
    text-align: center;
    flex-direction: column;

}
#FirstCol-one-input{
    // border: cyan solid 2px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    text-align: center;
    flex-direction: column;

}
#SecondCol{
    // border: cyan solid 2px;
    height: 100%;
    width: 50%;
    display: flex;
    text-align: center;
    flex-direction: column;
}

input{
    // border: solid 2px rgba(0, 0, 0, 0.418);
    width: 98%;
    height: 50%;
    background-color: #EAEAEA;
    border-radius: 8px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    // box-shadow: -2px -0.2px 5px rgb(117, 116, 116);
    margin: 0 auto;
    padding-left: 10px;

    // :-ms-input-placeholder{
        
    // }
}
::placeholder {
    // color: red;
    opacity: 1; /* Firefox */
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 80%;  
  }

.Amount{
    // border:solid 1px yellow;
    // height: 50%;
    text-align: right;
    padding-right: 8px;
}

p{
    // text-align: left;
    // padding-left: 104px;
     margin: 0;
     font-size: 80%;
     font-family: 'Open Sans Condensed', sans-serif;
}

ion-grid{
    width: 100%;
    height: 30px;
    border: solid 2px pink;
    ion-row{
        height: 30px
    }

}

// ion-col{
    // height: 20px;
    // width:40%;
    // // border: solid 2px rgb(165, 89, 89);
    // text-align: right;
    // font-family: 'Open Sans Condensed', sans-serif;
    // padding-right: 10px;
// }

.Button{
    height: 10%;
    width: 100%;
    // border: solid 2px brown;
    
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;

}

.Pic{
    // border: solid 2px red;
    width: 24%;
    // height: 100%;
}

.TheButton{
    // border: solid 2px red;
    width: 76%;
    // height: 100%;
}
button{
    height: 100%;
    width: 100%;
    background-color:#AF7EC7;
    border-radius: 4px;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
}

#image{
    position: absolute;
    bottom: -55px;
    left: -50px;
    height: 200px;
    right: 200px;
}


.total-values{
    width: 100%;
    height: 30px;
    // border: 2px solid red;
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    div{
        width: 40%;
        text-align: right;
        // border: 2px solid red;
        position: absolute;
    }
    div:nth-child(1){
        // background-color: red;
        right: 35%;
    }
    div:nth-child(2){
        // background-color: blue;
        right: 20px;
    }
}























// .user-inputs{
//     height: 40px;
//     width: 100%;
//     width: calc(100% - 50px);
//     margin: 10px auto;
//     border: 1px solid green;
//     // padding: 5px;
//     border-radius: 50px;
//     overflow: hidden;
//     display: flex;
  
//   }
//   #user-icon{
//     color: grey;
//   }
//   input{
//     width: 100%;
//     height: 100%;
//     padding-left: 10px;
//     padding-right: 10px;
//     border: 0
//   }<!-- <div class="user-inputs">
// <div>
// <ion-icon id="user-icon" name="ios-person"></ion-icon>
// </div>
// <div>
// <input placeholder="Full Names" type="text" >
// </div>
// </div> -->
  