.Mother{
    height: 100%;
    width: 100%;
    border: solid 2px red;
}

.Son{
    height: 100%;
    width:100%;
    border: solid black;
    background-color: rgba(0, 0, 0, 0.521);
}
.Daughter{
    height: 75%;
    border-radius: 10px;
    width: 50%;
    background-color: white;
    // border: solid 2px purple;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display:flex;
    flex-direction: column;
    overflow: hidden;

}

.TheCont{
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

.LEFT{
    // border: solid 2px black;
    height: 8%;
    width: 100%;
}

#GO{
    font-size: 190%;
    color: #183B03;
}

.Tittle{
    text-align: center;
    position: relative;
    bottom: 30px;
}

.FirstIMG{
//  border: solid 2px purple;
 height: 50%;
 width: 100%;
 z-index: 100000000000;

 img {
     opacity: .4;
 }
}

.SecIMG{
//  border: solid 2px purple;
 height: 50%;
 width: 100%;
 z-index: 100000000000;
}

#RecyleIMG{
    height: 50%;
    width: 50%;
    //margin-left: 32%;
    position: absolute;
    top: -13%;
    right: -13%;
    overflow: hidden;


}

#PurpleBubbles{
    position: absolute;
    bottom: -45%;
    right: -24%;
    height: 780px;

}
img {
    max-width: 1000px;
    border: 0;
}


.Mask{
    height: 75%;
    border-radius: 10px;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0);
    z-index: 100000;
}

.TheTruck{
    position: absolute;
}

.Content{
    // border: purple solid 2px;
    height: 65%;
    width: 100%;
    display:flex;
    flex-direction: row;  
     margin-left: 5%;
}


.Group2{
    width: 50%;
    height: 100%;
    // background-color: rgb(35, 3, 65);
    display: flex;
    align-items: center;
}

.Group1{
    width: 40%;
    height: 100%;
    border-radius: 5px;
    background-color: #F4F4F4;
    box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.589);
}

.Sub2{
    width: 100%;
    height: 90%;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.589);
}

.theSearch{
    height: 15%;
    width: 100%;
    // border: grey solid 2px;
    display: flex;
    align-items: center;
}

#theSearchbar{
    width: 95%;
    height: 70%;
    margin-left: 2.5%;
    // border: purple solid 2px;
    border-radius: 10px;
    border-top: 0px;
    border-left: 0px;
    font-size: 80%;
    box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.274);
}

::placeholder{
    font-size: 100%;
    padding-left: 4%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
}

.TheContent{
    height: 70%;
    width: 100%;
    //border: solid 2px blue;
    background-color: red;
    border-radius: 6px;
}

ion-card{
    background-color:#F4F4F4;
    margin-top: 5%;
}

.Thebutton{
    height: 15%;
    width: 100%;
    border: solid 2px orangered;
}

h5{
    color: black;
}
