

<ion-app>
  <ion-split-pane  contentId="main-content" >
    <ion-menu  contentId="main-content" type="overlay" >
      <ion-header >
      <div class="profile" >
      <div class="profilepic"></div>
      </div>
      </ion-header>
      <ion-content id="sidemenu">
        <ion-list style="margin: 0 !important;height: 100%;background: rgba(0, 0, 0, 0.801);" >
        <ion-menu-toggle  no-lines   auto-hide="false" *ngFor="let p of appPages;let i = index"  (click)="activate(i)" >
            <ion-item no-lines [routerDirection]="'root'" [ngClass]="{'active':active==i}" [routerLink]="[p.url]" [routerLinkActive]="['active']">
              <ion-icon style="color: white;" slot="start" width="20px" src="../assets/{{p.icon}}.svg"></ion-icon>
              
              <ion-label >
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <img id="grocer" src="../assets/grocery.svg">
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
  </ion-app>

