

<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-header>
      <div class="logo">
        <img src="../assets/logo.svg">
        <h1>Mthombowolwazi</h1>
      </div>
      </ion-header>
      <ion-content id="sidemenu">
        <ion-list >
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages;let i = index"  (click)="activate(i)" >
            <ion-item [routerDirection]="'root'" [ngClass]="{'active':active==i}" [routerLink]="[p.url]" [routerLinkActive]="['active']">
              <img slot="start" width="20px" src="../assets/{{p.icon}}.svg"/>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
        <img id="grocer" src="../assets/grocery.svg">
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
  </ion-app>