#StuffInside{
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    overflow: hidden;
    // border: solid 2px orange;
}

.Theblocks{
    height: 35%;
    width: 100%;
    // border: solid 2px blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin-top: 50px;
}

.Block1{
    height: 100%;
    width: 24%;
    border-radius: 5px;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.377);
}
.Block2{
    height: 100%;
    width: 24%;
    border-radius: 5px;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.377);
}
.Block3{
    height: 100%;
    width: 24%;
    border-radius: 5px;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.377);
}
.Block4{
    height: 100%;
    width: 24%;
    border-radius: 5px;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.377);
}

#RecyleLogo1{
    width: 13%;   
    position: absolute;
    bottom: 0;
    top: 14%;
    left: 11.5%;
}
#RecyleLogo2{
    width: 13%;   
    position: absolute;
    bottom: 0;
    top: 14%;
    left: 36%;
}
#RecyleLogo3{
    width: 13%;   
    position: absolute;
    bottom: 0;
    top: 14%;
    left: 60.5%;
}
#RecyleLogo4{
    width: 13%;   
    position: absolute;
    bottom: 0;
    top: 14%;
    left: 85%;
}

.Waste{
    height: 35px;
    width: 200px;
    z-index: 10;
    background-color: #548D04;
    position: absolute;
    top: 22%;
}

h3{
    font-family: 'Open Sans Condensed', sans-serif;  
    color: white;
    font-size: 240%;
    position: absolute;
    top: -22px;
    right: 55px;
}

#H3{
    font-family: 'Open Sans Condensed', sans-serif;  
    color: white;
    font-size: 240%;
    position: absolute;
    top: -22px;
    right: 25px;
}



img {
    max-width: 1000%;
    border: 0;
}


.History{
    height: 60%;
    width: 100%;
    // border: solid 2px red;
    margin-top: 5px;
    padding: 10px;  
}

.History1{
    height: 10%;
    width: 100%;
    background-color: #548D04;
    display: flex;
    justify-content: center;
    padding-left: 12px;
}
.History2{
    height: 10%;
    width: 100%;
    background-color: rgb(238, 234, 234);
    margin-top: 10px;
    display:flex;
    padding-left: 12px;
}
.History3{
    height: 10%;
    width: 100%;
    background-color: rgb(201, 199, 199);
    margin-top: 10px;
    display:flex;
    padding-left: 12px;
}
#Date{
    // border: salmon solid 2px;
    height: 100%;
    width:30%;
}
#Material{
    // border: salmon solid 2px;
    height: 100%;
    width:70%;
}
#Date1{
    // border: solid 2px red;
    height: 100%;
    width: 30%;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-top: 10px;
}
#Material1{
    // border: solid 2px red;
    height: 100%;
    width: 50%;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-top: 10px;
}
#Eye1{
    // border: solid 2px red;
    height: 100%;
    width: 5%;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-top: 15px;
}
#Trash1{
    // border: solid 2px red;
    height: 100%;
    width: 15%;
    padding-top: 15px;
    color: red;
}

#Date2{
    // border: solid 2px red;
    height: 100%;
    width: 30%;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-top: 10px;
}
#Material2{
    // border: solid 2px red;
    height: 100%;
    width: 50%;
    width: 50%;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-top: 10px;
}
#Trash2{
    // border: solid 2px red;
    height: 100%;
    width: 15%;
    padding-top: 15px;
    color: red;
}

#Eye2{
     // border: solid 2px red;
     height: 100%;
     width: 5%;
     font-family: 'Open Sans Condensed', sans-serif;
     padding-top: 15px;
}




h2{
    color: rgb(255, 255, 255);
    font-family: 'Open Sans Condensed', sans-serif;
    position: absolute;
    bottom: 51.3%;
}





















#Everything{
    height: 100%;
    width: 100%;
    background-color: white;
}


.Mother{
    height: 100%;
    width: 100%;
    // border: solid 2px red;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3000000000000000000000000000;
}
#Son{
    height: 100%;
    width: 100%;
    // border: solid 2px black;
}
#Daughter{
    height: 59%;
    width: 50%;
    // border: solid 2px purple;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%,-50%);
    z-index: 10000000000000000000000000000000000000000000000000;
}

#Header{
    // border: rgb(0, 0, 0) solid 1px;
    // border-top: 0;
    // border-right: 0;
    // border-left: 0;
    width: 95%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%)
}
#Header > div {
    cursor: pointer;
}
#line{
width: 95%;
border:1px solid black;
position: absolute;
bottom: 0;
height: 10%;
border-right: 0;
border-left: 0;
border-bottom: 0;
}

h4{
    // text-align: center;
    font-weight: 20;
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    bottom: 13%;
    font-size: 150%;
}

#Paper{
    // border: solid blueviolet 2px;
    height: 50%;  
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Aluminium{
    background:#568C0B;
    border-radius: 2px;
    height: 50%;
    color: white;
    width: 25%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Plastic{
    // border: solid blueviolet 2px;
    height: 50%;
    width: 25%;   
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Glass{
    // border: solid blueviolet 2px;
    height: 50%;
    width: 25%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Info{
    // border: rgb(132, 102, 160) solid 2px;
    height: cal(100% -50px);
    width: 100%;
    // margin-top: 60px;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
}
.myInfo{
    width: 100%;
    height: calc(100% - 80px);
    // background: red;
    // overflow-y: scroll;
    // background: red;;
}
#toFlex{
    width: 100%;
    height: 100%;
    padding-top: 40px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
}
#toPaper{
    display: flex;
}
#toPlastic, #toAluminium, #toGlass{
    display: none;
}
.for-plastic{
    width: 100%;
    height: 100%;
    // background: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.for-paper{
    width: 100%;
    height: 100%;
    // background: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.for-Aluminium{
    width: 100%;
    height: 100%;
    // background: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.for-Glass{
    width: 100%;
    height: 100%;
    // background: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}







.FirstRow{
    // border: crimson solid 2px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    height: 20%;
    display:flex;
    flex-direction: row;
}

#FirstCol{
    // border: cyan solid 2px;
    height: 100%;
    width: 50%;
    display: flex;
    text-align: center;
    flex-direction: column;

}
#FirstCol-one-input{
    // border: cyan solid 2px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    text-align: center;
    flex-direction: column;

}
#SecondCol{
    // border: cyan solid 2px;
    height: 100%;
    width: 50%;
    display: flex;
    text-align: center;
    flex-direction: column;
}

input{
    // border: solid 2px rgba(0, 0, 0, 0.418);
    width: 98%;
    height: 50%;
    background-color: #EAEAEA;
    border-radius: 8px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    // box-shadow: -2px -0.2px 5px rgb(117, 116, 116);
    margin: 0 auto;
    padding-left: 10px;

    // :-ms-input-placeholder{
        
    // }
}
::placeholder {
    // color: red;
    opacity: 1; /* Firefox */
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 80%;  
  }

.Amount{
    // border:solid 1px yellow;
    // height: 50%;
    text-align: right;
    padding-right: 8px;
}

p{
    // text-align: left;
    // padding-left: 104px;
     margin: 0;
     font-size: 80%;
     font-family: 'Open Sans Condensed', sans-serif;
}

ion-grid{
    width: 100%;
    height: 30px;
    border: solid 2px pink;
    ion-row{
        height: 30px
    }

}

// ion-col{
    // height: 20px;
    // width:40%;
    // // border: solid 2px rgb(165, 89, 89);
    // text-align: right;
    // font-family: 'Open Sans Condensed', sans-serif;
    // padding-right: 10px;
// }

.Button{
    height: 10%;
    width: 100%;
    // border: solid 2px brown;
    
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;

}

.Pic{
    // border: solid 2px red;
    width: 24%;
    // height: 100%;
}

.TheButton{
    // border: solid 2px red;
    width: 76%;
    // height: 100%;
}
button{
    height: 100%;
    width: 100%;
    background-color:#AF7EC7;
    border-radius: 4px;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
}

#image{
    position: absolute;
    bottom: -55px;
    left: -50px;
    height: 200px;
    right: 200px;
}


.total-values{
    width: 100%;
    height: 30px;
    // border: 2px solid red;
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    div{
        width: 40%;
        text-align: right;
        // border: 2px solid red;
        position: absolute;
    }
    div:nth-child(1){
        // background-color: red;
        right: 35%;
    }
    div:nth-child(2){
        // background-color: blue;
        right: 20px;
    }
}