.TheCont{
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}
.Mother{
    height: 100%;
    width: 100%;
    border: solid 2px red;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
}
#Son{
    height: 100%;
    width: 100%;
    border: solid 2px black;
}
#Daughter{
    height: 75%;
    width: 50%;
    // border: solid 2px purple;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%,-50%);
}

#Header{
    // border: rgb(0, 0, 0) solid 1px;
    // border-top: 0;
    // border-right: 0;
    // border-left: 0;
    width: 95%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%)
}
#line{
width: 95%;
border:1px solid black;
position: absolute;
bottom: 0;
height: 10%;
border-right: 0;
border-left: 0;
border-bottom: 0;
}

h4{
    // text-align: center;
    font-weight: 20;
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    bottom: 13%;
    font-size: 150%;
}

#Paper{
    // border: solid blueviolet 2px;
    height: 50%;  
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Cans{
    background:#568C0B;
    border-radius: 2px;
    height: 50%;
    color: white;
    width: 25%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Plastic{
    // border: solid blueviolet 2px;
    height: 50%;
    width: 25%;   
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Glass{
    // border: solid blueviolet 2px;
    height: 50%;
    width: 25%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Info{
    // border: rgb(132, 102, 160) solid 2px;
    height: 45%;
    width: 100%;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.FirstRow{
    // border: crimson solid 2px;
    width: 95%;
    height: 30%;
    display:flex;
    flex-direction: row;
}

#FirstCol{
    // border: cyan solid 2px;
    height: 100%;
    width: 50%;
    display: flex;
    text-align: center;
    flex-direction: column;

}
#SecondCol{
    // border: cyan solid 2px;
    height: 100%;
    width: 50%;
    display: flex;
    text-align: center;
    flex-direction: column;
}

input{
    // border: solid 2px rgba(0, 0, 0, 0.418);
    width: 98%;
    height: 50%;
    background-color: #EAEAEA;
    border-radius: 8px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    // box-shadow: -2px -0.2px 5px rgb(117, 116, 116);
    margin: 0 auto;
    padding-left: 10px;

    // :-ms-input-placeholder{
        
    // }
}
::placeholder {
    // color: red;
    opacity: 1; /* Firefox */
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 80%;  
  }

.Amount{
    // border:solid 1px yellow;
    // height: 50%;
    text-align: right;
    padding-right: 8px;
}

p{
    // text-align: left;
    // padding-left: 104px;
     margin: 0;
     font-size: 80%;
     font-family: 'Open Sans Condensed', sans-serif;
}

ion-grid{
    width: 100%;
    // height: 100%;
    // border: solid 2px pink;
}

ion-col{
    height: 120%;
    width:40%;
    // border: solid 2px rgb(165, 89, 89);
    text-align: right;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-right: 10px;
}

.Button{
    height: 10%;
    width: 100%;
    // border: solid 2px brown;
    margin-top: 38px;
    display: flex;
    flex-direction: row;

}

.Pic{
    // border: solid 2px red;
    width: 24%;
    height: 100%;
}

.TheButton{
    // border: solid 2px red;
    width: 76%;
    height: 100%;
}
button{
    height: 100%;
    width: 100%;
    background-color:#AF7EC7;
    border-radius: 4px;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
}

#image{
    position: absolute;
    top: 73%;
    height: 40%;
    right: 70%;
}
