
.header {
    --background: #265902 !important;
    display: flex;
   // border: 2px solid rgb(17, 0, 255);
  }
  ion-toolbar {
    display: flex;
    flex-direction: row;
   
  }
  ion-title {
    //border: 1px solid red;
    font-family: 'Microsoft YaHei UI';
    font-size: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p {
  //  border: 1px solid red;
    width: 50%;
    position: absolute;
    left: 75px;
    top:4px ;
  }
  ion-avatar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(51, 51, 51, 0.103);
  
    width: 50px;
    height: 50px;
  }
  }
  #logout {
    border: 1px solid white;
    padding: 1px;
    border-radius: 50px;
    background: white;
  ion-button {
    font-size: 10px;
    font-weight: bold;
  }
    ion-icon {
      color: brown;
      font-size: 20px;
      font-weight: bold;
      margin-left: 5px;
    }
  }
  ion-icon {
    padding-left: 2%;
    font-size: 1vw;
  }
  

 //container
#StuffInside{
    width: 100%;
    height: 100%;
  //  border: solid 2px rgb(255, 0, 64);
}
//top div holding material
.Theblocks{
    height: 40%;
    width: 100%;
    // border: solid 2px blueviolet;
    display: flex;
    justify-content: space-between;

}



.Block1{
    //border: 1px solid red;
    position: relative;
    height: 100%;
    width: 24%;
    border-radius: 5px;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.377);
}


.logoright{
   // border: 1px solid black;
    width: 60%;   
    position: absolute;
    // bottom: 0;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
}

h3{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 80%;
    height: 40px;
    z-index: 10;
    margin-top: 45%;
    text-align: right;
    background: #558C03;
    position: relative;
    padding-right: 2%;
    color: white;
    font-size: 20px;
   padding: 10px;
    border-top-right-radius:4px ;
    border-bottom-right-radius:4px ;
  
}

//bottom div holding history
.History{
    height: 60%;
    width: 100%;
  //  border: solid 2px red;
      padding-top: 0 !important;
   overflow-y: scroll;
}

.History1{
    height: 35px;
    width: 100%;
    background-color: #548D04;
    display: flex;
    h2 {
        width: 100%;
        font-size: 25px;
       // border: 1px solid red;
     text-align: left;
     margin: 0 !important;
     padding-left: 8px;
    }
    #Date{
       // border: salmon solid 2px;
      height: 100%;
      width:40%;
  }
  #Material{
 //  border: salmon solid 2px;
      height: 100%;
      width:60%;
  
  }
}
.History2{
    height: 35px;
     width: 100%;
    background-color: rgb(238, 234, 234);
    display:flex;
    justify-content: center;
    align-content: center;
    align-items: center;
   
    padding-left: 8px;
   // border: 1px solid red;
    #Date1 {
        
        width: 40%;
        font-size: 15px;
     
    }
    #material {
    
        width: 60%;
        font-size: 15px;
        padding-left: 5px;
        .eye {
           // border: 1px solid green;
           position: absolute;
           right: 10% !important;
           font-size: 20px;
        }
        .trash {
          //  border: 1px solid green;
           position: absolute;
           right: 5% !important;
           font-size: 20px;
           color: brown;
        }
    }
}
.History2:nth-child(odd) {
    background: white;
}
h2{
    color: rgb(255, 255, 255);
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 10px
}
#Everything{
    height: 100%;
    width: 100%;
    background-color: white;
}

@keyframes fadeInCustom {
    0%{
        opacity: 0
    }
    100%{
        opacity: 1
    }
}

//div holding sub divs
.Mother{
    height: 100%;
    width: 100%;
    // border: solid 5px rgb(141, 5, 5);
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3000000000000000000000000000;
    animation: fadeInCustom 300ms;
}

//sub divs holding material and form
#Daughter{
    height: 55%;
    width: 60%;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%,-50%);
    z-index: 10000000000000000000000000000000000000000000000000;
}
//sub headers for sub material
#Header{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    left: 50%;
    transform: translateX(-50%)
}
#border {
    border: 1px solid gray;
    width: 90%;
    margin: 0 !important;
    margin-left: 5% !important;
}

#Header > div {
  //border: 3px solid blue;
    cursor: pointer;
    height: 60%;
    width: 24%;
    border-radius: 4px;
    h4 {
        font-size: 17px;
    }
}

//header for paper
#Paper, #Aluminium, #Plastic,#Glass {
    // border: solid blueviolet 2px;
    height: 50%;  
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.myInfo{
    width: 100%;
    height: calc(100% - 80px);
 }

.top, .middle, .bottom {
    height: 50px;
    border: 2px solid rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    input {
       // border: 2px solid black;
        width: 48%;
        font-size: 12px;
        height: 37px;
       padding-left: 10px;
       border-radius: 7px;
       outline: none;
       border: none;
       background: #EAEAEA;
    }

}
.for-plastic, .for-paper, .for-Aluminium, .for-Glass  {
    width: 100%;
    height: 100%;
     //background: rgb(27, 126, 32);
    display: flex;
    flex-direction: column;
    // justify-content: center;
    margin-top: 5%;
    .btn {
        // border: 1px solid red;
        width: 70%;
        height: 40px;
        position: absolute;
        right: 0;
        bottom: 0;
        border-top-left-radius: 5px;
        // border-bottom-left-radius: 5px;
        border-bottom-right-radius: 10px;
        color: white;
        letter-spacing: 1px;
        background: linear-gradient(-90deg, rgba(128, 0, 128, 0.877), rgba(128, 0, 128, 0.418));;
    }
    .image {
      //  border: 1px solid blue;
        position: absolute;
        bottom: -15%;
        left: -5%;
        width: 35%;
    }
}

::placeholder {
    font-size: 12px;  
  font-weight: bold;
  letter-spacing: 1px;
  color: rgb(32, 31, 31);
 }


// .Amount{
//     text-align: right;
//     padding-right: 8px;
// }

#image{
    border: 1px solid red;
    position: absolute;
    bottom: -55px;
    left: -40px;
    width: 45%;
    right: 200px;
margin: 0 !important;
}
@media screen and (max-width:1366px){
    #logout {
        border: 1px solid white;
        padding: 1px;
        border-radius: 50px;
        background: white;
        color: black;
      ion-button {
        font-size: 10px;
        font-weight: bold;
      }
        ion-icon {
          color: brown;
          font-size: 20px;
          font-weight: bold;
          margin-left: 5px;
        }
      }
      .header {
        --background: #265902 !important;
        display: flex;
        color: white;
      }

      
.Theblocks{
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
}
#Son{
  width: 100%;
  height:100%;
  // background: red;
}

//fifi's media queries
@media screen and (min-width: 1366px) {
  .header {
    ion-title {
    p {
      //border: 1px solid white;
   text-align: left;;
         margin-left: -2.5%;
         margin-top: 8px;
       }
      }
      ion-avatar {
       margin-left: 0 !important;
       position: absolute;
       left: 1% !important;
       top: 3.5px;
       width: 35px;
       height: 35px;
   }
      #logout {
        //border: 1px solid red;
        height: 10px !important;
        width: auto;
        }
   }
.Theblocks {
 // border: 1px solid blue;
  margin-top: 10px;
}
  .Block1 {
    //border: 1px solid blue;
    h3 {
     // border: 1px solid red;
      margin-top: 60%;
    }
  }
  .History {
   // border: 2px solid black;
     margin-top: 4%;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    ion-title {
      display: grid;
      align-items: center;
      p {
        text-align: left;
        margin-left: -4%;
        margin-top: 7px;
      }
    }
    ion-avatar {
      margin-left: 0 !important;
      position: absolute;
      left: 1% !important;
      top: 3.5px;
      width: 35px;
      height: 35px;
    }
    #logout {
      width: auto;
    }
  }
  h3 {
   // border: 1px solid red;
    margin-top: 51%;
  }
  .History1{
    //border: 1px solid red;
    margin-top: 2%;
  }
 
}

@media screen and (min-width: 1920px) {
 
  .header {
   // border: 1px solid red;
    ion-title {

      height: 40px;
    }
    ion-avatar {
     // border: 1px solid red;
      height: 40px;
      width: 40px;
      margin-top: -5px;
    }
    p {
    //  border: 1px solid white;
      position: absolute;
      left: 6.9%;
     top: 2px;
    }
    #logout {
   // border: 1px solid red;
     height: 40%; 
     padding: 1% !important;
  }
  }
#Everything {
    // border: 2px solid blue;
     height: 100%;

     .Theblocks {
   //   border: 2px solid rgb(17, 223, 110);
      margin-top: 0;

      h3 {
       // border: 1px solid red;
        margin-top: 45%;
      }
     }
     .History {
     // border: 2px solid red;
      margin-top: 0;
     }
}
}

//fifi again
@media screen and (max-width: 1440px) {
  .header {
    ion-title {
      p {
        text-align: left;
       // margin-left: -4%;
       margin-top: -5px;
      }
    }
    ion-avatar {
      margin-left: 0 !important;
      position: absolute;
      left: 1% !important;
      top: -16.5px;
      width: 35px;
      height: 35px;
    }
    #logout {
     padding: 1.5%;
    }
  }
}