
.header {
    --background: #265902 !important;
    display: flex;
   // border: 2px solid rgb(17, 0, 255);
  }
  ion-toolbar {
    display: flex;
    flex-direction: row;
   
  }
  ion-title {
    //border: 1px solid red;
    font-family: 'Microsoft YaHei UI';
    font-size: 15px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  p {
  //  border: 1px solid red;
    width: 50%;
    position: absolute;
    left: 75px;
    top:4px ;
  }
  ion-avatar {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(51, 51, 51, 0.103);
  
    width: 50px;
    height: 50px;
  }
  }
  #logout {
    border: 1px solid white;
    padding: 1px;
    border-radius: 50px;
    background: white;
  ion-button {
    font-size: 10px;
    font-weight: bold;
  }
    ion-icon {
      color: brown;
      font-size: 20px;
      font-weight: bold;
      margin-left: 5px;
    }
  }
  ion-icon {
    padding-left: 2%;
    font-size: 1vw;
  }
  

 //container
#StuffInside{
    width: 100%;
    height: 100%;
  //  border: solid 2px rgb(255, 0, 64);
}
//top div holding material
.Theblocks{
    height: 40%;
    width: 100%;
    // border: solid 2px blueviolet;
    display: flex;
    justify-content: space-between;

}



.Block1, .Block2, .Block3, .Block4{
    //border: 1px solid red;
    position: relative;
    height: 100%;
    width: 24%;
    border-radius: 5px;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.377);
}


.logoright{
    //border: 1px solid black;
    width: 60%;   
    position: absolute;
    // bottom: 0;
    top: 50%;
    right: 2%;
    transform: translateY(-50%);
}

h3{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 90%;
    height: 18%;
    z-index: 10;
    margin-top: 45%;
    text-align: right;
    background: #558C03;
    position: relative;
    padding-right: 2%;
    color: white;
    font-size: 2vw;
    padding-top: 1.5%;
    border-top-right-radius:4px ;
    border-bottom-right-radius:4px ;
  
}

//bottom div holding history
.History{
    height: 60%;
    width: 100%;
  //  border: solid 2px red;
      padding-top: 0 !important;
   // overflow: scroll;
}

.History1{
    height: 35px;
    width: 100%;
    background-color: #548D04;
    display: flex;
    h2 {
        width: 100%;
        font-size: 25px;
       // border: 1px solid red;
     text-align: left;
     margin: 0 !important;
     padding-left: 8px;
    }
    #Date{
       // border: salmon solid 2px;
      height: 100%;
      width:40%;
  }
  #Material{
 //  border: salmon solid 2px;
      height: 100%;
      width:60%;
  
  }
}
.History2{
    height: 30px;
     width: 100%;
    background-color: rgb(238, 234, 234);
    display:flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding-left: 8px;
   // border: 1px solid red;
    #Date1 {
       // border: 1px solid black;
        width: 40%;
        font-size: 15px;
    }
    #material {
        //border: 1px solid rgb(61, 33, 221);
        width: 60%;
        font-size: 15px;
        padding-left: 5px;
        .eye {
           // border: 1px solid green;
           position: absolute;
           right: 10% !important;
           font-size: 20px;
        }
        .trash {
          //  border: 1px solid green;
           position: absolute;
           right: 5% !important;
           font-size: 20px;
           color: brown;
        }
    }
}
.History2:nth-child(odd) {
    background: white;
}
h2{
    color: rgb(255, 255, 255);
    font-family: 'Open Sans Condensed', sans-serif;
    // position: absolute;
    margin-top: 10px
    // bottom: 51.3%;
}
#Everything{
    height: 100%;
    width: 100%;
    background-color: white;
}

@keyframes fadeInCustom {
    0%{
        opacity: 0
    }
    100%{
        opacity: 1
    }
}

//div holding sub divs
.Mother{
    height: 100%;
    width: 100%;
     border: solid 5px rgb(141, 5, 5);
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 3000000000000000000000000000;
    animation: fadeInCustom 300ms;
}

//sub divs holding material and form
#Daughter{
    height: 50%;
    width: 60%;
  border: solid 2px rgb(9, 0, 128);
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%,-50%);
    z-index: 10000000000000000000000000000000000000000000000000;
}
//sub headers for sub material
#Header{
    // border: rgb(0, 0, 0) solid 1px;
    // border-top: 0;
    // border-right: 0;
    // border-left: 0;
  //  border: solid 2px rgb(0, 128, 17);
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
    left: 50%;
    transform: translateX(-50%)
}
#border {
    border: 1px solid gray;
    width: 90%;
    margin-left: 5%;
}

#Header > div {
    cursor: pointer;
    //border: 1px solid #548D04;
    height: 80%;
    width: 24%;
    border-radius: 4px;
    h4 {
        font-size: 1.3vw;
    }
}
// #line{
// width: 95%;
// border:1px solid rgb(211, 28, 28);
// position: absolute;
// bottom: 0;
// height: 10%;
// border-right: 0;
// border-left: 0;
// border-bottom: 0;
// }

// h4{
//     // text-align: center;
//     font-weight: 20;
//     font-family: 'Open Sans Condensed', sans-serif;
//     position: relative;
//     bottom: 13%;
//     font-size: 150%;
// }
//header for paper
#Paper{
     border: solid blueviolet 2px;
    height: 50%;  
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
////header for Aluminium
#Aluminium{
    background:white;
    border-radius: 2px;
    height: 50%;
    color: black;
    width: 25%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
////header for Plastic
#Plastic{
    // border: solid blueviolet 2px;
    height: 50%;
    width: 25%;   
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
////header for Glass
#Glass{
    // border: solid blueviolet 2px;
    height: 50%;
    width: 25%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Info{
    // border: rgb(132, 102, 160) solid 2px;
    height: cal(100% -50px);
    width: 100%;
    // margin-top: 60px;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
}
.myInfo{
    width: 100%;
    height: calc(100% - 80px);
    // background: red;
    // overflow-y: scroll;
    // background: red;;
}
#toFlex{
    width: 100%;
    height: 100%;
    padding-top: 40px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
}
#toPaper{
    display: flex;
}
#toPlastic, #toAluminium, #toGlass{
    display: none;
}
.for-plastic{
    width: 100%;
    height: 100%;
    // background: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.for-paper{
    width: 100%;
    height: 100%;
    // background: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.for-Aluminium{
    width: 100%;
    height: 100%;
    // background: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.for-Glass{
    width: 100%;
    height: 100%;
    // background: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}







.FirstRow{
    // border: crimson solid 2px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    height: 20%;
    display:flex;
    flex-direction: row;
}

#FirstCol{
    // border: cyan solid 2px;
    height: 100%;
    width: 50%;
    display: flex;
    text-align: center;
    flex-direction: column;

}
#FirstCol-one-input{
    // border: cyan solid 2px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    text-align: center;
    flex-direction: column;

}
#SecondCol{
    // border: cyan solid 2px;
    height: 100%;
    width: 50%;
    display: flex;
    text-align: center;
    flex-direction: column;
}

input{
    // border: solid 2px rgba(0, 0, 0, 0.418);
    width: 98%;
    height: 50%;
    background-color: #EAEAEA;
    border-radius: 8px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    // box-shadow: -2px -0.2px 5px rgb(117, 116, 116);
    margin: 0 auto;
    padding-left: 10px;

    // :-ms-input-placeholder{
        
    // }
}
::placeholder {
    // color: red;
    opacity: 1; /* Firefox */
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 80%;  
  }

.Amount{
    // border:solid 1px yellow;
    // height: 50%;
    text-align: right;
    padding-right: 8px;
}

// p{
//     // text-align: left;
//     // padding-left: 104px;
//      margin: 0;
//      font-size: 80%;
//      font-family: 'Open Sans Condensed', sans-serif;
// }

ion-grid{
    width: 100%;
    height: 30px;
    border: solid 2px pink;
    ion-row{
        height: 30px
    }

}

// ion-col{
    // height: 20px;
    // width:40%;
    // // border: solid 2px rgb(165, 89, 89);
    // text-align: right;
    // font-family: 'Open Sans Condensed', sans-serif;
    // padding-right: 10px;
// }

.Button{
    height: 10%;
    width: 100%;
    // border: solid 2px brown;
    
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;

}

.Pic{
    // border: solid 2px red;
    width: 24%;
    // height: 100%;
}

.TheButton{
    // border: solid 2px red;
    width: 76%;
    // height: 100%;
}
button{
    height: 100%;
    width: 100%;
    background-color:#AF7EC7;
    border-radius: 4px;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
}

#image{
  //  border: 1px solid red;
    position: absolute;
    bottom: -55px;
    left: -50px;
    height: 180px;
    right: 200px;
margin: 0 !important;
}


.total-values{
    width: 100%;
    height: 30px;
    // border: 2px solid red;
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    div{
        width: 40%;
        text-align: right;
        // border: 2px solid red;
        position: absolute;
    }
    div:nth-child(1){
        // background-color: red;
        right: 35%;
    }
    div:nth-child(2){
        // background-color: blue;
        right: 20px;
    }
}


@media screen and (max-width:1366px){
    #logout {
        border: 1px solid white;
        padding: 1px;
        border-radius: 50px;
        background: white;
        color: black;
      ion-button {
        font-size: 10px;
        font-weight: bold;
      }
        ion-icon {
          color: brown;
          font-size: 20px;
          font-weight: bold;
          margin-left: 5px;
        }
      }
      .header {
        --background: #265902 !important;
        display: flex;
        color: white;
      }

      
.Theblocks{
    height: 35%;
    width: 100%;
    // border: solid 2px blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Block1{
    position: relative;
    height: 100%;
    width: 24%;
    border-radius: 5px;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.377);
}
.Waste{
    height: 35px;
    width: 170px;
    z-index: 10;
    background-color: #548D04;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#H3{
    font-family: 'Open Sans Condensed', sans-serif;  
    color: white;
    font-size: 240%;
    position: absolute;
    top: -22px;
    right: 9px;
}



#RecyleLogo1{
    width:65%;   
    position: absolute;
    // bottom: 0;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
#RecyleLogo2{
    width: 65%;   
    position: absolute;
    // bottom: 0;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
#RecyleLogo3{
    width: 65%;   
    position: absolute;
    // bottom: 0;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
#RecyleLogo4{
    width: 65%;   
    position: absolute;
    // bottom: 0;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
}