ion-header {
  --background: #265902 !important;
  display: flex;
  // border: 2px solid rgb(17, 0, 255);
}
ion-toolbar {
  display: flex;
  flex-direction: row;
}

#TheLoGoutBTN {
  background-color: white;
  border-radius: 50px;
  color: black;
  margin-top: 10px;
}
#LogOutIco {
  color: brown;
}

.logger {
  // border: 2px solid green;
  background-color: #265902;
  width: 50%;
  height: 55px;
  ion-button {
    text-transform: capitalize;
    position: absolute;
    right: 10px;
  }
}

.navCont {
  // border: 2px solid red;
  width: 50%;
  height: 55px;
  display: flex;
}
.navCont > div {
  // border: 1px solid red;
  background-color: #265902;
}
#userName {
  padding-left: 10px;
  font-size: 14px;
  line-height: 55px;
  font-weight: 500;
  color: white;
}
.navCont > div:nth-child(1) {
  width: 55px;
  img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    object-fit: cover;
    margin: 2.5px;
  }
}
.navCont > div:nth-child(2) {
  width: calc(100% - 55px);
}

//container

.top-blocks {
  width: 100%;
  height: 35vh;
  // background: black;
  overflow-x: scroll;
  display: flex;
  .waste-blocks {
    width: 23%;
    min-width: 200px;
    height: 90%;
    background: white;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: right;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.493);
    img {
      width: 100%;
      min-width: 90px;
      max-width: 150px;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    p {
      font-size: 2vh;
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-100%);
      width: 90%;
      background: #548d04;
      padding: 10px;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.493);
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      color: white;
    }
  }
}
.history {
  width: 100%;
  height: calc(100% - 35vh);
  // background: red;
  overflow-y: scroll;
  padding: 10px;
}

.history-labels {
  width: 100%;
  height: 40px;
  background: #C5A60A;
  color: white;
  display: flex;
}
.history-labels > div {
  height: 40px;
  min-width: 150px;
  line-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.history-labels > div:nth-child(1) {
  width: 25%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
}
.history-labels > div:nth-child(2) {
  // border-left: 1px solid black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 25px;
  width: 50%;
}
.history-labels > div:nth-child(3) {
  // border-left: 1px solid yellow;
  width: 12.5%;
}
.history-labels > div:nth-child(4) {
  // border-left: 1px solid blue;
  width: 12.5%;
}

.itemList {
  background-color: #eeeaea;
  display: flex;
  height: 35px;
  width: 100%;
}

.itemList > div {
  height: 35px;
  min-width: 150px;
  line-height: 40px;
  padding-left: 10px;
  padding-right: 10px;
  // border: solid 2px purple;
}

.itemList > div:nth-child(1) {
  width: 25%;
}
.itemList > div:nth-child(2) {
  width: 50%;
}
.itemList > div:nth-child(3) {
  width: 12.5%;
  text-align: center;
}
.itemList > div:nth-child(4) {
  width: 12.5%;
  text-align: center;
  color: brown;
}
.itemList:nth-child(even){
background: white;
}
.itemList:nth-child(odd){
background: #eaeaea;
}

.mother {
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.452);
  position: absolute;
  z-index: 100000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .userForm {
    width: 100%;
    height: 100%;
    max-width: 600px;
    max-height: 600px;
    background: white;
    border-radius: 10px;
    margin: 0 auto;
    z-index: 10;
    position: relative;
  }
  .dismissOverlay {
    width: 100%;
    height: 100%;
    // background: red;
    position: absolute;
    z-index: 1;
    cursor: pointer;
  }
}

.waste-materials {
  width: calc(100% - 50px);
  margin: 0 auto;
  height: 100px;
  display: flex;
  border-bottom:   solid 1px black;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;

}

.waste-materials > div {
  width: 23%;
  height: 50px;
  // background-color: #497529;
  margin: 5px auto;
  margin-top: 20px;
  text-align: center;
  line-height: 50px;
  color: white;
  font-weight: 500;
  border-radius: 5px;
  cursor: pointer;
}

#isPaper, #isPlastic, #isAluminium, #isGlass{
  background: grey;
}

.SecSection {
  width: 100%;
  height: calc(100% - 100px);
  // background: red;
}

.Material-inputs {
  width: 100%;
  height: 100%;
  z-index: 1000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000;
  // background: purple;
  padding-right: 16px;
  padding-left: 16px;
  
}
.input-textfields > input {
  width: 100%;
  height: 40px;
  background: #eaeaea;
  border: 0px;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}

.input-textfields > p {
  text-align: right;
  font-weight: bold;
}

ion-col {
  width: 100%;
  min-width: 250px;
  text-align: center;
}

.singular-input {
  width: 80% !important;
}

#forPaper {
  // this will appear when paper has been selected
  // display: none;
}
#forPlastic {
  // this will appear when plastic has been selected
  // display: none;
}
#forAluminium {
  // this will appear when aluminium has been selected
  // display: none;
}
#forGlass {
  // this will appear when glass has been selected
  // display: none;
}

.RecyleLogo {
  // transform: scale(0.5 , 0.5);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -10;
  width: 300px;
  height: 300px;
  opacity: 0.3;
  overflow: hidden;
  img {
    transform: translate(10%, -10%);
  }
}

.Recycle-Bins {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 100px;
  z-index: 10 !important;
  img {
    transform: translate(-40%, -40%);
  }
}

.Next-button{
  background: plum;
  width: 97.5%;
  height: 50px;
  position: absolute;
  bottom:0;
  z-index: 1;
  ion-button{
    position: absolute;
    right: 50%;
    transform: translateX(50%);  
    width: 200px;
  }
}
 ion-grid{
  //  height: 100%
  margin-top: 50px;
   width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // border: solid 2px orange;
 }


 
#Paper{
  background-image: url(../../assets/ColorFullMagazines.jpg);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

#Plastic{
  background-image: url(../../assets/BluCapPlasticBottle.jpg);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
#Aluminium{
  background-image: url(../../assets/SquashedRedCan.jpg);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}
#Glass{
  background-image: url(../../assets/WhiteWineGlass.jpg);
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}


.Title{
  height: 40px;
  // border: solid 2px red;
  width: 150px;
  display: flex;
  align-items: center;
  font-family: 'Open Sans Condensed', sans-serif;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}


































