<ion-header>
  <ion-toolbar class="header" *ngFor="let user of Newadmin">
    <ion-title><ion-avatar><img src="../../assets/boxes.jpg"></ion-avatar><p>{{ user.name }} {{ user.surname }}</p></ion-title>
    <!-- <ion-title>{{ user.name }} {{ user.surname }}</ion-title> -->
    <ion-buttons id="logout" slot="end">
      <ion-button fill="clear" size="large" (click)="Logout()">Logout<ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="Mother" *ngIf="selectedCat">
    <div id="Son" (click)="goAway()"></div>
    <div id="Daughter">
      <div id="Header">
        <div id="Paper" (click)="togglePaper()">
          <h4>PAPER</h4>
        </div>
        <div id="Plastic" (click)="togglePlastic()">
          <h4>PLASTIC</h4>
        </div>
        <div id="Aluminium" (click)="toggleAluminium()">
          <h4>ALUMINIUM</h4>
        </div>
        <div id="Glass" (click)="toggleGlass()">
          <h4>GLASS</h4>
        </div>
        <div id="line"></div>
      </div>

      <div class="myInfo">
        <div class="for-plastic" id="toPlastic">
          <div id="toFlex">

            <div class="FirstRow">
              <div id="FirstCol">
                <input type="number" placeholder="HD001 (Kg)" [(ngModel)]="HD001massz" (change)='onChangeHD001($event.target.value)'>
                <div class="Amount">
                  <b>
                    <p>{{ HD001pricez }}</p>
                  </b>
                </div>
              </div>
              <div id="SecondCol">
                <input type="number" placeholder="LD001 (Kg)" [(ngModel)]="LD001massz" (change)='onChangeLD001($event.target.value)'>
                <div class="Amount">
                  <b>
                    <p>{{ LD001pricez }}</p>
                  </b>
                </div>
              </div>
            </div>
            <div class="FirstRow">
              <div id="FirstCol">
                <input type="number" placeholder="LD003 (Kg)" [(ngModel)]="LD003massz" (change)='onChangeLD003($event.target.value)'>
                <div class="Amount">
                  <b>
                    <p>{{ LD003pricez }}</p>
                  </b>
                </div>
              </div>
              <div id="SecondCol">
                <input type="number" placeholder="PET005 (Kg)" [(ngModel)]="PET005massz" (change)='onChangePET005($event.target.value)'>
                <div class="Amount">
                  <b>
                    <p>{{ PET005pricez }}</p>
                  </b>
                </div>
              </div>
            </div>
            <div class="FirstRow">
              <div id="FirstCol">
                <input type="number" placeholder="PET001 (Kg)" [(ngModel)]="PET001massz" (change)='onChangePET001($event.target.value)'>
                <div class="Amount">
                  <b>
                    <p>{{ PET001pricez }}</p>
                  </b>
                </div>
              </div>
              <div id="SecondCol">
                <input type="number" placeholder="PET003 (Kg)" [(ngModel)]="PET003massz" (change)='onChangePET003($event.target.value)'>
                <div class="Amount">
                  <b>
                    <p>{{ PET003pricez }}</p>
                  </b>
                </div>
              </div>
            </div>
            <div class="total-values">
              <div><b>Paper Total: {{ PlasticTotals }}</b></div>
              <!-- <div><b></b></div> -->
            </div>
    
          </div>
          

          <div class="Button">
            <div class="Pic"><img id="image" src="../../assets/icon/binsPopup  2.svg" alt=""></div>
            <div class="TheButton">
              <button clear (click)='toggleAluminium()'>Next</button>
            </div>
          </div>

        </div>

        <div class="for-paper" id="toPaper">
          <div id="toFlex">
            <div class="FirstRow">
              <div id="FirstCol">
                <input type="number" placeholder="PAP005 (Kg)" [(ngModel)]="PAP005massz" (change)='onChangePAP005($event.target.value)'>
                <div class="Amount">
                  <b>
                    <p>{{ PAP005pricez }}</p>
                  </b>
                </div>
              </div>
              <div id="SecondCol">
                <input type="number" placeholder="PAP007 (Kg)" [(ngModel)]="PAP007massz" (change)='onChangePAP007($event.target.value)'>
                <div class="Amount">
                  <b>
                    <p>{{ PAP007pricez }}</p>
                  </b>
                </div>
              </div>
            </div>

            <div class="FirstRow">
              <div id="FirstCol">
                <input type="number" placeholder="PAP001 (Kg)" [(ngModel)]="PAP001massz" (change)='onChangePAP001($event.target.value)'>
                <div class="Amount">
                  <b>
                    <p>{{ PAP001pricez }}</p>
                  </b>
                </div>
              </div>
              <div id="SecondCol">
                <input type="number" placeholder="PAP003 (Kg)" [(ngModel)]="PAP003massz" (change)='onChangePAP003($event.target.value)'>
                <div class="Amount">
                  <b>
                    <p>{{ PAP003pricez }}</p>
                  </b>
                </div>
              </div>
            </div>
            <div class="total-values">
              <div><b>Paper Total: {{ PaperTotal }}</b></div>
              <!-- <div><b>{{ PaperTotal }}</b></div> -->
            </div>
    
          </div>

          <div class="Button">
            <div class="Pic"><img id="image" src="../../assets/icon/binsPopup  2.svg" alt=""></div>
            <div class="TheButton">
              <button clear (click)='togglePlastic()'>Next</button>
            </div>
          </div>

        </div>

        <div class="for-Aluminium" id="toAluminium">
          <div id="toFlex">
            <div class="FirstRow">
              <div id="FirstCol-one-input">
                <input type="number" placeholder="NFAL01 (Kg)" [(ngModel)]="NFAL01massz" (change)='onChangeNFAL01($event.target.value)'>
                <div class="Amount">
                  <b>
                    <p>{{ NFAL01pricez }}</p>
                  </b>
                </div>
              </div>
            </div>
            <div class="total-values">
              <div><b>Paper Total: {{ NFAL01pricez }}</b></div>
            </div>
    
          </div>

          <div class="Button">
            <div class="Pic"><img id="image" src="../../assets/icon/binsPopup  2.svg" alt=""></div>
            <div class="TheButton">
              <button clear (click)='toggleGlass()'>Next</button>
            </div>
          </div>
        </div>

        <div class="for-Glass" id="toGlass">
          <div id="toFlex">
            <div class="FirstRow">
              <div id="FirstCol-one-input">
                <input type="number" placeholder="GL001 (Kg)" [(ngModel)]="GH001massz" (change)='onChangeGH001($event.target.value)'>
                <div class="Amount">
                  <b>
                    <p>R {{ GH001pricez }}</p>
                  </b>
                </div>
              </div>
            </div>
            <div class="total-values">
              <div><b>Paper Total: {{ GH001pricez }}</b></div>
            </div>
    
          </div>
          <div class="Button">
            <div class="Pic"><img id="image" src="../../assets/icon/binsPopup  2.svg" alt=""></div>
            <div class="TheButton">
              <button clear (click)="CheckInputsEmptyString()">Save</button>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- End of Pop-up div -->


  <div class="Mother" id="wasteInformation" *ngIf="otherPopup === true">
    <div id="Son" (click)="goAway()"></div>
    <div class="Mask">
      <div class="LEFT">
        <!-- <ion-icon id="GO" name="arrow-dropleft-circle"></ion-icon> -->
      </div>
      <h6><b>Reclaimer Details</b></h6>
      <div class="Content">
        <div class="Group1">

          <!-- <div class="theSearch">
            <input id="theSearchbar" type="text" placeholder="Search Driver">
          </div> -->

          <div class="TheContent">

            <!-- code for auto complete -->
            <div class="results">
              <p *ngFor="let g of searchResults" (click)="selectLocation(g)" (click)="nextClick()"> {{ g }} </p>
              <div class='count' *ngIf="searchResults.length > 0" >
                {{ searchResults.length }}
              </div>
            </div>
             <!-- <ion-input type="text" placeholder="MyLocation" [(ngModel)]="myLocation" type="number"></ion-input> -->
            <ion-searchbar (ionInput)="getItems($event)" placeholder="Phone Numbers"></ion-searchbar>
           
            <!-- <ion-item no-lines>{{ userLocation }}</ion-item> -->

            <ion-card *ngFor="let records of testArrays">
              <ion-card-content (click)='presentAlertAddUser(records.id)'>
                <h5><b>{{ records.name }} {{ records.surname }}</b></h5>
                <p>{{ records.contact }}</p>
              </ion-card-content>
            </ion-card>
            <!-- <ion-card>
              <ion-card-content>;
                <h5><b>Driver's Name</b></h5>
                <p>Driver's Name</p>
              </ion-card-content>
            </ion-card> -->
          </div>
          <div class="Thebutton">
            <ion-button class="AddDriver" color="clear" (click)="nextClick()">
              <ion-icon name="add"></ion-icon> New Driver
            </ion-button>
          </div>
        </div>
        <div class="Group1new"></div>
        <div class="Group2" *ngIf="driverInfo === true">
          <form padding [formGroup]="RegisterForm">
          <div class="Sub2">
            <div class="Heading">
              <h4 class="theH4">Reclaimer Information</h4>
              <div class="DriverInputs">
                <input id="input" placeholder="Name" [(ngModel)]="names" formControlName="names" type="text">
                <input id="input" placeholder="Surname" [(ngModel)]="surnames" formControlName="surnames" type="text">
                <input id="input" placeholder="contact" [(ngModel)]="contacts" [ngModelOptions]="{standalone: true}" type="number">
                <input id="input" placeholder="address" [(ngModel)]="addresss" formControlName="addresss" type="text">
              </div>
              <!-- <div class="DoneBTN">
                <ion-button id="Done" color="clear">Done</ion-button>            checkPhoneInput() <btn>Next
              </div> -->
            </div>
          </div>
        </form>
        </div>
      </div>
      <div class="Finish">
        <button id="FinishBTN" color="clear" (click)="showInputs()" [disabled]="!RegisterForm.valid">Next</button>
      </div>
    </div>
    <div class="Daughter">
      <div class="FirstIMG">
        <img id="RecyleIMG" src="../../assets/icon/Asset 10.svg" alt="">
      </div>
      <div class="SecIMG">
        <img id="PurpleBubbles" src="../../assets/icon/outboundPOPup                                                                .svg" alt="">
        <div class="TheTruck">
          <img id="TruckIMG" src="../../assets/icon/ReclaimerPopup.svg" alt="">
        </div>
      </div>
    </div>
  </div>

  <!-- Bottom part LIST -->
<div id="Everything">
  <div id="StuffInside">
    <div padding class="Theblocks">
      <!-- PAPER DIV -->
      <div class="Block1" (click)="showPopUp('paper')">
          <h3>PAPER</h3>
        <img class="logoright" src="../../assets/icon/Asset 9.svg" alt="">
      </div>
      <!-- PLASTIC DIV -->
      <div class="Block1" (click)="showPopUp('plastic')">
          <h3>PLASTIC</h3>
        <img class="logoright" src="../../assets/icon/Asset 9.svg" alt="">
      </div>
      <!-- ALUMINIUM DIV -->
      <div class="Block1" (click)="showPopUp('aluminium')">
          <h3>ALUMINIUM</h3>
        <img class="logoright" src="../../assets/icon/Asset 9.svg" alt="">
      </div>
      <!-- GLASS DIV -->
      <div class="Block1" (click)="showPopUp('glass')">
          <h3>GLASS</h3>
        <img class="logoright" src="../../assets/icon/Asset 9.svg" alt="">
      </div>
    </div> <!-- END OF TOP DIV HOLDING MATERIAL -->
   
    <div padding class="History">
      <div class="History1">
        <div id="Date">
            <h2>Full Name</h2>
        </div>
        <div id="Material">
            <h2>Phone Number</h2>
        </div>
        <div id="Material">
            <h2>Amount</h2>
        </div>
    </div>
      <div class="History2" *ngFor="let records of testArrays">
        <div id="Date1">{{ records.name }} {{ records.surname }}</div>
        <div id="material">{{ records.contact }}</div>
        <div id="material">R{{ records.OverallGrandTotal }}</div>
        <!-- <div id="Material1">R{{ records.time.seconds * 1000 | date:'dd-MM-yyyy HH-ss' }}</div> -->
          <ion-icon name="eye" class="eye" [routerLink]="['/reclaimer-pdf', records.id]"></ion-icon>
          <ion-icon name="trash" class="trash" (click)='presentAlertDelete(records.id)'></ion-icon>
        
      </div>
    </div>
  </div>
  </div>

</ion-content>
