#logout {
    border: 1px solid white;
    padding: 1px;
    border-radius: 50px;
    background: white;
  ion-button {
    font-size: 10px;
    font-weight: bold;
    color: rgb(0, 0, 0);
  }
    ion-icon {
      color: brown;
      font-size: 20px;
      font-weight: bold;
      margin-left: 5px;
    }
  }
  
ion-title {
    font-family: 'Microsoft YaHei UI';
    font-size: 15px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  }
  .header {
    --background: #265902 !important;
    display: flex;
    color: white;
  }

.TheToolbar{
    --background: #265902;
    color: white;
}
#StuffInside{
    overflow-y: scroll;
    width: 100%;
    height: 100%;
    overflow: hidden;
    // border: solid 2px orange;
}
.Theblocks{
    height: 35%;
    width: 100%;
    // border: solid 2px blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin-top: 50px;
}
.Block1{
    position: relative;
    height: 100%;
    width: 24%;
    border-radius: 5px;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.377);
}
.Waste{
    height: 35px;
    width: 200px;
    z-index: 10;
    background-color: #548D04;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#RecyleLogo1{
    width: 50%;   
    position: absolute;
    // bottom: 0;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
} 
h3{
    font-family: 'Open Sans Condensed', sans-serif;  
    color: white;
    font-size: 240%;
    position: absolute;
    top: -22px;
    right: 55px;
}
#H3{
    font-family: 'Open Sans Condensed', sans-serif;  
    color: white;
    font-size: 240%;
    position: absolute;
    top: -22px;
    right: 25px;
}
h2{
    font-family: 'Open Sans Condensed', sans-serif;  
    color: rgb(255, 255, 255);
    margin-top: 10px;
}

#RecyleLogo2{
    width: 50%;   
    position: absolute;
    // bottom: 0;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

#RecyleLogo3{
    width: 50%;   
    position: absolute;
    // bottom: 0;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}

#RecyleLogo4{
    width: 50%;   
    position: absolute;
    // bottom: 0;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}



.History{
    height: 60%;
    width: 100%;
    // border: solid 2px red;
    margin-top: 5px;
    padding: 10px;    
    overflow: scroll;
}
.History1{
    height: 50px;
    width: 100%;
    background-color: #548D04;
    display: flex;
    justify-content: center;
    padding-left: 12px;
}
#Date{
    // border: salmon solid 2px;
    height: 100%;
    width:30%;
}
#Material{
    // border: salmon solid 2px;
    height: 100%;
    width:70%;
}


.History2{
    height: 42px;
    width: 100%;
    background-color: rgb(238, 234, 234);
    margin-top: 10px;
    display:flex;
    padding-left: 12px;
}
#Date1{
    // border: solid 2px red;
    height: 100%;
    width: 30%;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-top: 10px;
}
#Material1{
    // border: solid 2px red;
    height: 100%;
    width: 50%;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-top: 10px;
}
#Eye1{
    // border: solid 2px red;
    height: 100%;
    width: 5%;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-top: 15px;
}
#Trash1{
    // border: solid 2px red;
    height: 100%;
    width: 15%;
    padding-top: 15px;
    color: red;
}


.History3{
    height: 10%;
    width: 100%;
    background-color: rgb(201, 199, 199);
    margin-top: 10px;
    display:flex;
    padding-left: 12px;
}
#Date2{
    // border: solid 2px red;
    height: 100%;
    width: 30%;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-top: 10px;
}
#Material2{
    // border: solid 2px red;
    height: 100%;
    width: 50%;
    width: 50%;
    font-family: 'Open Sans Condensed', sans-serif;
    padding-top: 10px;
}
#Eye2{
     // border: solid 2px red;
     height: 100%;
     width: 5%;
     font-family: 'Open Sans Condensed', sans-serif;
     padding-top: 15px;
}
#Trash2{
    // border: solid 2px red;
    height: 100%;
    width: 15%;
    padding-top: 15px;
    color: red;
}


// End of evrything outside Pop-overs






.Son{
    height: 100%;
    width:100%;
    // border: solid black;
    background-color: rgba(0, 0, 0, 0.521);
}
.Daughter{
    height: 75%;
    border-radius: 10px;
    width: 50%;
    background-color: white;
    // border: solid 2px purple;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display:flex;
    flex-direction: column;
    overflow: hidden;

}

.TheCont{
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

.LEFT{
    // border: solid 2px black;
    height: 8%;
    width: 100%;
}

#GO{
    font-size: 190%;
    color: #183B03;
}

.Tittle{
    text-align: center;
    position: absolute;
    left: 0%;
    right: 0%;
    top:10px;
    color: black;
}

.FirstIMG{
//  border: solid 2px purple;
 height: 50%;
 width: 100%;
 z-index: 100000000000;

 img {
     opacity: .4;
 }
}

.SecIMG{
//  border: solid 2px purple;
 height: 50%;
 width: 100%;
 z-index: 100000000000;
}

#RecyleIMG{
    height: 50%;
    width: 50%;
    //margin-left: 32%;
    position: absolute;
    top: -13%;
    right: -13%;
    overflow: hidden;


}

#PurpleBubbles{
    position: absolute;
    bottom: -45%;
    right: -24%;
    height: 780px;

}
img {
    max-width: 1000px;
    border: 0;
}


.Mask{
    height: 75%;
    border-radius: 10px;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0);
    z-index: 100000;
}

.TheTruck{
    position: absolute;
}
.Content{
    // border: purple solid 2px;
    height: 65%;
    width: 100%;
    display:flex;
    flex-direction: row;
    position: relative;
    margin-left: 5%;
    margin-top: 15px;
}


.Group2{
    width: 50%;
    height: 100%;
    // background-color: rgb(35, 3, 65);
    display: flex;
    align-items: center;
    margin-top: 8%;
    // margin-left: 2%;;
}
.Group1{
    width: 64%;
    height: 100%;
    border-radius: 5px;
    background-color: #F4F4F4;
    box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.589);
    position: absolute;
    left: 13%;
    top: 13%;
    transition: 700ms;
    // z-index: 10;
    // overflow: scroll;
}

.Group1new{
    width: 40%;
    height: 100%;
}

.Sub2{
    width: 100%;
    height: 90%;
    border-radius: 5px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px rgba(128, 128, 128, 0.589);
    animation: slideInLeft 700ms;
}

.theSearch{
    height: 15%;
    width: 100%;
    // border: grey solid 2px;
    display: flex;
    align-items: center;
}

#theSearchbar{
    width: 95%;
    height: 70%;
    margin-left: 2.5%;
    // border: purple solid 2px;
    border-radius: 10px;
    border-top: 0px;
    border-left: 0px;
    font-size: 80%;
    background-color: white;
    box-shadow: 0px 0px 20px rgba(128, 128, 128, 0.274);
}

::placeholder{
    font-size: 100%;
    padding-left: 4%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 700;
}

.TheContent{
    height: 68%;
    width: 98%;
    //border: solid 2px blue;
    background-color: rgb(255, 255, 255);
    position: relative;
    bottom: 5px;
    border-radius: 6px;
    overflow-y: scroll;
}

ion-card{
    background-color:#F4F4F4;
    // position: absolute;
}

.Thebutton{
    height: 15%;
    width: 100%;
    // border: solid 2px orangered;
    display: flex;
    justify-content: center;
    align-items: center;
}

h5{
    color: black;
}

.AddDriver{
    background-color: #558703;
    height: 50%;
    border-radius: 3px;
    font-size: 60%;
}

.theH4{
    font-weight: 700;
    text-align: center;
    color: black;
    font-size: 25px;
    // right: 145px;
    top: 14px;
}

.DriverInputs{
    height: 210px;
    width: 100%;
    // border: solid 2px purple;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-left: 5px;

}
#input{
    // border: blueviolet solid 2px;
    width: 90%;
    margin-bottom: 10px;
    height: 100px;
    background: #EAEAEA;
    border-radius: 5px;
    border-left: 0px;
    border-top: 0px;
}

.DoneBTN{
    display: flex;
    align-items: center;
    justify-content: right;
    // border: blueviolet solid 2px;
    height: 50px;
}

#Done{
    background-color: #558703;
    height: 28px;
    width: 100px;
    border-radius: 3px;
    font-size: 60%;
    position: absolute;
    right:11%;
}


#TruckIMG{
    height: 100px;
    position: absolute;
    top: 198px;
    left: 50px;
}

.Finish{
    // border: solid 2px green;
    height: 15%;
    width: 100%;
    position: absolute;
    bottom: -0%;
}

#FinishBTN{
    // border: blueviolet solid 2px;
    width: 70%;
    height: 54%;
    border-right: 0px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background: linear-gradient(to left, rgb(196, 170, 211) 10%, #A571C3 100%);
    position: absolute;
    right: 0%;
    bottom: 0%;
    color: white;
    font-weight: 600;
}


















.TheCont{
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}
.Mother{
    height: 100%;
    width: 100%;
    // border: solid 2px red;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100000000000000000000000000000000000000000000000000000000000000000000;
}

#wasteInformation{
    // display: none;
}

#Son{
    height: 100%;
    width: 100%;
    border: solid 2px black;
}
#Daughter{
    height: 59%;
    width: 50%;
    // border: solid 2px purple;
    background: white;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 10px;
    transform: translate(-50%,-50%);
}

#Header{
    // border: rgb(0, 0, 0) solid 1px;
    // border-top: 0;
    // border-right: 0;
    // border-left: 0;
    width: 95%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%)
}
#Header > div {
    cursor: pointer;
}
#line{
width: 95%;
border:1px solid black;
position: absolute;
bottom: 0;
height: 10%;
border-right: 0;
border-left: 0;
border-bottom: 0;
}

h4{
    // text-align: center;
    font-weight: 20;
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    bottom: 13%;
    font-size: 150%;
}

#Paper{
    // border: solid blueviolet 2px;
    height: 50%;  
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Aluminium{
    background:#568C0B;
    border-radius: 2px;
    height: 50%;
    color: white;
    width: 25%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Plastic{
    // border: solid blueviolet 2px;
    height: 50%;
    width: 25%;   
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#Glass{
    // border: solid blueviolet 2px;
    height: 50%;
    width: 25%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Info{
    // border: rgb(132, 102, 160) solid 2px;
    height: cal(100% -50px);
    width: 100%;
    // margin-top: 60px;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
}
.myInfo{
    width: 100%;
    height: calc(100% - 80px);
    // background: red;
    // overflow-y: scroll;
    // background: red;;
}
#toFlex{
    width: 100%;
    height: 100%;
    padding-top: 40px;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
}
#toPaper{
    display: flex;
}
#toPlastic, #toAluminium, #toGlass{
    display: none;
}
.for-plastic{
    width: 100%;
    height: 100%;
    // background: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.for-paper{
    width: 100%;
    height: 100%;
    // background: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.for-Aluminium{
    width: 100%;
    height: 100%;
    // background: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.for-Glass{
    width: 100%;
    height: 100%;
    // background: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
}







.FirstRow{
    // border: crimson solid 2px;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    height: 20%;
    display:flex;
    flex-direction: row;
}

#FirstCol{
    // border: cyan solid 2px;
    height: 100%;
    width: 50%;
    display: flex;
    text-align: center;
    flex-direction: column;

}
#FirstCol-one-input{
    // border: cyan solid 2px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    text-align: center;
    flex-direction: column;

}
#SecondCol{
    // border: cyan solid 2px;
    height: 100%;
    width: 50%;
    display: flex;
    text-align: center;
    flex-direction: column;
}

input{
    // border: solid 2px rgba(0, 0, 0, 0.418);
    width: 98%;
    height: 50%;
    background-color: #EAEAEA;
    border-radius: 8px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    // box-shadow: -2px -0.2px 5px rgb(117, 116, 116);
    margin: 0 auto;
    padding-left: 10px;

    // :-ms-input-placeholder{
        
    // }
}
::placeholder {
    // color: red;
    opacity: 1; /* Firefox */
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 80%;  
  }

.Amount{
    // border:solid 1px yellow;
    // height: 50%;
    text-align: right;
    padding-right: 8px;
}

p{
    // text-align: left;
    // padding-left: 104px;
     margin: 0;
     font-size: 80%;
     font-family: 'Open Sans Condensed', sans-serif;
}

ion-grid{
    width: 100%;
    height: 30px;
    border: solid 2px pink;
    ion-row{
        height: 30px
    }

}

// ion-col{
    // height: 20px;
    // width:40%;
    // // border: solid 2px rgb(165, 89, 89);
    // text-align: right;
    // font-family: 'Open Sans Condensed', sans-serif;
    // padding-right: 10px;
// }

.Button{
    height: 10%;
    width: 100%;
    // border: solid 2px brown;
    
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row;

}

.Pic{
    // border: solid 2px red;
    width: 24%;
    // height: 100%;
}

.TheButton{
    // border: solid 2px red;
    width: 76%;
    // height: 100%;
}
button{
    height: 100%;
    width: 100%;
    background-color:#AF7EC7;
    border-radius: 4px;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
}

#image{
    position: absolute;
    bottom: -55px;
    left: -50px;
    height: 200px;
    right: 200px;
}


.total-values{
    width: 100%;
    height: 30px;
    // border: 2px solid red;
    font-family: 'Open Sans Condensed', sans-serif;
    display: flex;
    div{
        width: 40%;
        text-align: right;
        // border: 2px solid red;
        position: absolute;
    }
    div:nth-child(1){
        // background-color: red;
        right: 35%;
    }
    div:nth-child(2){
        // background-color: blue;
        right: 20px;
    }
}























// .user-inputs{
//     height: 40px;
//     width: 100%;
//     width: calc(100% - 50px);
//     margin: 10px auto;
//     border: 1px solid green;
//     // padding: 5px;
//     border-radius: 50px;
//     overflow: hidden;
//     display: flex;
  
//   }
//   #user-icon{
//     color: grey;
//   }
//   input{
//     width: 100%;
//     height: 100%;
//     padding-left: 10px;
//     padding-right: 10px;
//     border: 0
//   }<!-- <div class="user-inputs">
// <div>
// <ion-icon id="user-icon" name="ios-person"></ion-icon>
// </div>
// <div>
// <input placeholder="Full Names" type="text" >
// </div>
// </div> -->
  

@media screen and (max-width:1366px){
    #logout {
        border: 1px solid white;
        padding: 1px;
        border-radius: 50px;
        background: white;
        color: black;
      ion-button {
        font-size: 10px;
        font-weight: bold;
      }
        ion-icon {
          color: brown;
          font-size: 20px;
          font-weight: bold;
          margin-left: 5px;
        }
      }
      .header {
        --background: #265902 !important;
        display: flex;
        color: white;
      }

      
.Theblocks{
    height: 35%;
    width: 100%;
    // border: solid 2px blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    margin-top: 50px;
}
.Block1{
    position: relative;
    height: 100%;
    width: 24%;
    border-radius: 5px;
    box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.377);
}
.Waste{
    height: 35px;
    width: 170px;
    z-index: 10;
    background-color: #548D04;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
#H3{
    font-family: 'Open Sans Condensed', sans-serif;  
    color: white;
    font-size: 240%;
    position: absolute;
    top: -22px;
    right: 9px;
}



#RecyleLogo1{
    width:65%;   
    position: absolute;
    // bottom: 0;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
#RecyleLogo2{
    width: 65%;   
    position: absolute;
    // bottom: 0;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
#RecyleLogo3{
    width: 65%;   
    position: absolute;
    // bottom: 0;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
#RecyleLogo4{
    width: 65%;   
    position: absolute;
    // bottom: 0;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
}