


#disapear{
  display: none;

}

#camera{
  // border: solid purple 2px;
  position: absolute;
  left: 83%;
  top: 20%;
  transform: translate(-50%,-50%);
  font-size: 20px;
  text-shadow: 0px 0px 10px black;
  ion-icon {
    font-size: 1.6em;
    color: rgb(66, 66, 66);
  }
}

.container {
   // border: 3px solid blue;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    overflow-y: hidden;
    #background1 {
  //  border: 1px solid red;
    position: absolute;
    height: 100%;
    bottom: 40%;
    right: -10%;
    top: -60%;
  
  }
  #close {
    position: absolute;
    top: 2.5%;
    right: 2.5%;
    font-size:25px;
    color: white;
  //  border: 1px solid blue;
  }
  #people {
   // border: 1px solid blue;
    #sthombe-upload {
      color: black;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      font-size: 40px;
      opacity: 0;
      padding: 40px;
    }
    #sthombe-upload:hover{
      opacity: 1;
    }
    //border: 1px solid green;
    width: 15%;
    position: absolute;
    bottom: 0;
    left: 1%;
  
  }
  #bins {
    // border: 1px solid green;
      width: 20%;
      position: absolute;
      bottom: 0;
      right: 14%;
  }
  }
  .form { 
   // border: 3px solid red;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.123), 0 6px 20px 0 rgba(0, 0, 0, 0.068);
    width: 400px;
    height: 75%;
    border-radius: 7px;
    background: #ececec;
    z-index: 5;
    position: relative;
    display: flex;
    flex-direction: column;

    .head {
    //  border: 1px solid blue;
      height: 15%;
      display: flex;
      align-items: center;
      h3 {
     //   border: 1px solid red;
        margin: 0 ;
        padding: 0;
        padding-left: 5%;
        font-family: 'lato';
        font-weight: bolder;
    }
  }
    .profile {
      //border: 2px solid red;
      height: 30%;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
            .ProPic {
     //border: 3px solid rgb(76, 0, 255);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.123), 0 6px 20px 0 rgba(0, 0, 0, 0.068);
      width: 150px;
      height: 150px;
      border-radius: 50%;
      position: relative;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    }
    }

    .inputs {
     // border: 2px solid green;
      height: 55%;
      display: flex;
      flex-direction: column;
      align-content: center;

      input {
        width: 80%;
        margin-left: 10%;
        margin-top: 3%;
        border-radius: 5px;
        background: white;
        padding-left: 2% !important;
        box-shadow: 2px 1px 2px 1px rgb(184, 181, 181);
        font-size: 1.2em;
        padding: 1% !important;
        border: none;
        position: relative;
        font-family: 'lato';
        
      }

      #save {
      //  border: 1px solid red;
        width: 50%;
        position: absolute;
        left: 25%;
        bottom: 15% !important;
        border-radius: 5px;
        background: #1B4001;
        color: white;
        font-family: 'Microsoft YaHei UI';
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.123), 0 6px 20px 0 rgba(0, 0, 0, 0.068);

      }
    }
  }


  
  