
.header {
  --background: #265902 !important;
  display: flex;
}
ion-toolbar {
  display: flex;
  flex-direction: row;
 
}
ion-title {
  font-family: 'Microsoft YaHei UI';
  font-size: 15px;
color: white;
display: flex;
flex-direction: row;
justify-content: space-between;
}
.slideIn {
  display: block;
  animation-name: slideIn;
  animation-duration: 500ms;
 
}
@keyframes slideIn {
  0% {
    transform: translate(-100%, 0%);
  }
  100% {
    transform: translate(0%, 0%);
  }
}
.slideOut {
  
  animation-name: slideOut;
  animation-duration: 500ms;
  animation-fill-mode: forwards;

}

.hide {

  display: none;
}

.show {
  display: block;
}

@keyframes slideOut {
  0% {
    transform: translate(0%, 0%);
  }
  100% {
    transform: translate(-100%, 0%);
    display: none;
  }
}

ion-title {
  color: white;
display: flex;
flex-direction: row;
justify-content: space-between;
}
#logout {
  border: 1px solid white;
  padding: 1px;
  border-radius: 50px;
  background: white;
ion-button {
  font-size: 10px;
  font-weight: bold;
}
  ion-icon {
    color: brown;
    font-size: 20px;
    font-weight: bold;
    margin-left: 5px;
  }
}
ion-icon {
  padding-left: 2%;
  font-size: 1vw;
}
.container {
 // border: 1px solid red;
 height: 100%;
//  overflow-x: scroll;
}
.alltime {
  //border-bottom: 2px solid black;
  height: 30%;
  display: flex;
  justify-content: space-between;
}
.stats {
  //border: 1px solid red;
  width: 32%;
  height: 95%;
  margin-top: 2%;
}

.big {
 // border: 1px solid green;
  height: 86%;
  margin-top: 7%;
  border-radius: 7px;
  background: #EAEAEA;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(51, 51, 51, 0.103);
  h3 {
     // border: 1px solid red;
      position: absolute;
      top: 5%;
      width: 31%;
      text-align: right;
      padding: 1%;
      font-size: 2.8vw;

  }
  .mass {
    //  border: 1px solid red;
      position: absolute;
      top: 10%; 
      width: 30%;
      text-align: right;
     // padding: 1%;
      font-size: 2.4vw;
      font-family: 'SkarpaLT';
  }

}
.small {
//  border: 1px solid blue;
  // background: #C5A60A;
  border-radius: 7px;
  width: 30%;
  height: 70%;
  position: relative;
  top: -20%;
  left: 10%;
  z-index: 8;
  display: flex;
  justify-content: center;


  img {
      width: 60%;
  }
}
.updates {
  border-top: 2px solid grey;
  height: 30%;
  width: 94%;
  margin-left: 3%;
  display: flex;
  align-items: center;
  p {
      font-size: 1vw;
     // border: 1px solid red;
     font-family: 'SkarpaLT';
     font-weight: 600;
     color: rgb(63, 61, 61);
  }
}
h6 {
  border: 1px solid gray;
  width: 97%;
  margin-left: 1.5%;
}
/* material or second row */
.material {
//border: 2px solid rgb(235, 17, 17);
  width: 100%;
 // margin-left: 2%;
  margin-top: 1%;
  height: 30%;
   display: flex;
   justify-content: space-between;
  h4 {
      border: 1px solid red;
      margin-top: 0;
  }
  .mat {
    // border: 5px solid rgb(255, 11, 255);
      height: 100%;
      width: 100%;
      border-radius: 7px;
  
      img {
         width: 10%;
         height: 20%;
         margin-top: 2%;
         margin-left: 2%;
         //border: 2px solid white;
      }
      //short burger
      .burger {
    
        background: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(51, 51, 51, 0.103);
        width: 10%;
        height: 15%;
        position: absolute;
        right: 0%;
        bottom: 80px;
        border-bottom-left-radius: 50px;
        border-top-left-radius: 50px;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        ion-icon {
          color: black;
          font-size: 2vw;
        }
      }

      
      //long burger
      .burgercontent {
       // border: 1px solid red;
        transition: 300ms;
        background: white;
        //border: 2px solid red;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(51, 51, 51, 0.103);
        width: 50px;
        height: 30px;
        position: absolute;
        right:0%;
        bottom: 50px;
                border-bottom-left-radius: 50px;
        border-top-left-radius: 50px;
        display: flex;
        overflow: hidden;
        // ion-icon {
        //   font-size: 1vw;
        // }
        ion-button{
          margin: 0;
          height: 30px;
        }
      }

      .burgercontent2 {
        transition: 300ms;
        background: white;
        //border: 2px solid red;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(51, 51, 51, 0.103);
        width: 50px;
        height: 30px;
        position: absolute;
        bottom: 50px;
        right:0%;
      
        border-bottom-left-radius: 50px;
        border-top-left-radius: 50px;
        display: flex;
        overflow: hidden;
        // ion-icon {
        //   font-size: 1vw;
        // }
        ion-button{
          margin: 0;
          height: 30px;
        }
      }

      .burgercontent3 {
        transition: 300ms;
        background: white;
        //border: 2px solid red;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(51, 51, 51, 0.103);
        width: 50px;
        height: 30px;
        position: absolute;
        right:0%;
        bottom: 50px;
        border-bottom-left-radius: 50px;
        border-top-left-radius: 50px;
        display: flex;
        overflow: hidden;
        // ion-icon {
        //   font-size: 1vw;
        // }
        ion-button{
          margin: 0;
          height: 30px;
        }
      }

      .burgercontent4 {
        transition: 300ms;
        background: white;
        //border: 2px solid red;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(51, 51, 51, 0.103);
        width: 50px;
        height: 30px;
        position: absolute;
        right:0%;
        bottom: 50px;
        border-bottom-left-radius: 50px;
        border-top-left-radius: 50px;
        display: flex;
        overflow: hidden;
        // ion-icon {
        //   font-size: 1vw;
        // }
        ion-button{
          margin: 0;
          height: 30px;
        }
      }
  }

  //div holding edit form
  .editform, .deletecategory {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(51, 51, 51, 0.103);
   width: 100%;
    
    border-radius: 10px;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* transform: scale(1.3); */
    input {
      width: 80%;
      margin-left: 10%;
      margin-top: 2%;
      border-radius: 50px;
      background: #EAEAEA;
      padding: 9px;
      border: none !important;
      outline: none;
      font-size: 1.2vw;
    }
    h1 {
      // border: 1px solid red;
      margin-top: 1%;
      width: 80%;
      margin-left: 10%;
      font-size: 1.5vw;
      font-family: 'Microsoft YaHei UI';
    }
    button {
      width: 40%;
      padding: 3%;
      margin-top: 5%;
      margin-left: 30%;
      border-radius: 5px;
      background: #265902;
      color: white;
      font-size: 1vw;
    }
  }

  .addcategory {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(51, 51, 51, 0.103);
    width: 200%;
    height: 200%;
    position: relative;
    top: -37%;
    border-radius: 10px;
    background: white;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    input {
      width: 80%;
      margin-left: 10%;
      margin-top: 2%;
      border-radius: 50px;
      background: #EAEAEA;
      padding: 9px;
      border: none !important;
      outline: none;
      font-size: 1.3vw;
    }
    h1 {
      // border: 1px solid red;
       padding-top: 5%;
      margin-top: 10%;
      width: 80%;
      margin-left: 10%;
      font-size: 1.6vw;
      font-family: 'Microsoft YaHei UI';
    }
    button {
      width: 40%;
      padding: 3%;
      margin-top: 5%;
      margin-left: 30%;
      border-radius: 5px;
      background: #265902;
      color: white;
    }
  }

 
}
.box {
  width: 24%;
 // border: 5px solid blue;
  height: 90%;
  position: relative;
  .matnames {
   // border: 3px solid purple;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.322);
    width: 90%;
    min-height: 55px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
     z-index: 9;
     position: relative;
     top: -20%;
     left: 10%;
  }
}
.matnames {

//  position: relative;
//  left: -225%;
//  top: 18%;
 border-top-left-radius: 7px;
 border-bottom-left-radius: 7px;
  z-index: 9;
 // background: red;
  display: flex;
}
.manname {
  width: 50%;
display: flex;
justify-content: center;
align-content: center;
align-items: center;
background: white;
font-size: 1.5vw;
font-family: 'SHKODER 1989';
border-bottom-right-radius: 10px;

}
.codes {
  width: 50%;
  max-height: 80px;

  overflow-y: scroll;
//  border: 1px solid blue;
  background: #EAEAEA;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;

  p {
    padding-left: 4px;
    padding-top: 5px;
    margin: 0;
    font-size: 0.7vw;
    font-weight: bolder;
    //border: 1px solid white;
    margin-top: -1%;
    // border: 2px solid ;
    position: relative;
    span{
      position: absolute;
      right: 0;
      padding-right: 2px;
    }
  }
}

.graphs {
 // border: 2px solid blue;
  height: 31%;
  display: flex;
  justify-content: space-around;
}
.graph {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(51, 51, 51, 0.103);
  width: 31.8%;
  height: 100%;
  border-radius: 12px;
}

/* chart */
.graph {
//   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
//   height: 100%;
//   width: 100%;
//  border-radius: 12px;

canvas {
 // border: 2px solid blue !important;
  height: 100% !important;
  width: 100% !important;
 background: rgba(255, 255, 255, 0.158) !important;
  border-radius: 12px !important;
}
}


::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: grey; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

.opacitydivs {
  //border: 2px solid black;
  position: absolute;
  top: 0;
  left: 0%;
  background: rgba(0, 0, 0, 0.63);
  width: 100%;
  height: 100%;
  z-index: 10;
}
.createDiv, .editDiv, .deleteDiv {
  display: none;
}
// style for the edit modal 
.editform2 {
//  border: 5px solid green;
  width: 40%;
  height: 40%;
  position: relative;
  top: 30%;
  left: 30%;
  border-radius: 10px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(51, 51, 51, 0.103);
  display: flex;
  flex-direction: column;

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
    }
 
  h1 {
    font-size: 1.3vw;
   //border: 2px solid green;
    //margin-top: -1%;
    padding-left: 10%;
    width: 80%;
  }
  input {
    border-radius: 50px;
    border: none;
    padding: 8px;
    padding-left: 13px;
    background: #EAEAEA;
    margin-top: 1.2%;
    font-size: 0.8vw;
    width: 80%;
    margin-left: 10%;
  }
button {
width: 25%;
margin-left: 37.5%;
padding: 1.4%;
margin-top: 5%;
border-radius: 5px;
font-size: 1vw;
background: #265902;
color: white;
}
.close {
 // border: 1px solid red;
  width: 15%;
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: right;
  margin: 0;
  padding: 0;
  ion-icon {
    font-size: 2vw;
 text-align: right;
  }
}
}
#aluminium {
  background-image:linear-gradient(rgba(0, 0, 0, 0.479)), url('../../assets/cans.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
}

#glass {
  background-image:linear-gradient(rgba(0, 0, 0, 0.479)), url('../../assets/glass2.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
}

#plastic {
  background-image:linear-gradient(rgba(0, 0, 0, 0.479)), url('../../assets/Hd\ plastic.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
}
#paper {
  background-image:linear-gradient(rgba(0, 0, 0, 0.479)), url('../../assets/flatnews.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 7px;
}
#secondborder {
border: 1px solid gray;
width: 96%;
margin-left: 2%;

}
