<ion-header *ngFor="let user of Newadmin">
  <ion-toolbar class="header" >
    <ion-title><ion-avatar [routerLink]="['/profile']"><img  *ngIf="user.image"  src="{{user.image}}"> <img *ngIf="!user.image" src="../../assets/mthombologo (1).png" alt=""> </ion-avatar><p>{{ user.name }} {{ user.surname }}</p></ion-title>
    <ion-buttons  id="logout" slot="end">
     
      <ion-button fill="clear" size="large" (click)="Logout()">Logout<ion-icon  name="log-out"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="bD" [ngClass]="{'backdrop':viewingGraph,'backdrop-h':!viewingGraph}">
  <!-- <ion-button (click)="backdrop()">
    <ion-icon slot="icon-only" name="close"></ion-icon>
  </ion-button>
  -->
</div>
<div class="container">
  <div padding class="alltime">
    <div class="stats">
      <div class="big">
        <div class="small" style="background: #C5A60A;">
          <img src="../../assets/inbound.svg">
        </div>
        <h3>Inbound</h3>
        <p class="mass">{{inboundweight}}<span style="font-weight: bold;font-size: 2vw;padding-left: 1%;">kg</span></p>
        <div class="updates">
        <p>Updated {{updated}}</p>
        </div>
      </div>
    
    </div>
    <!-- box 2 -->
    <div class="stats">
      <div class="big">
        <div class="small" style="background: #D12C6F;">
          <img src="../../assets/outbound.svg">
        </div>
        <h3>Outbound</h3>
        <p class="mass">{{outboundweight}}<span style="font-weight: bold;font-size: 2vw;padding-left: 1%;">kg</span></p>
        <div class="updates">
          <p>Updated {{updatedoutbound}}</p>
        </div>
      </div>
    </div>
    <!-- box 3 -->
    <div class="stats">
      <div class="big">
        <div class="small" style="background: #0BCECE;">
          <img src="../../assets/reclaimer.svg">
        </div>
        <h3>Reclaimer</h3>
        <p class="mass">{{Reclaimerweight}}<span style="font-weight: bold;font-size: 2vw;padding-left: 1%;">kg</span></p>
        <div class="updates">
          <p>Updated {{updateReclaimer}}</p>
        </div>
      </div>
    </div>
  </div>
  <h6></h6>
  <!-- material -->
  <div padding class="material">
    <!-- paper -->
    <div class="box" id="paper">
      <div class="mat">
        <div class="burgercontent" [ngClass]="{'hide': !burger, 'show': burger}">
          <ion-button fill="clear" (click)="showMoreBtn()"><ion-icon name="more"></ion-icon></ion-button>
         <ion-button fill="clear" size="small" color="success" (click)="HideandShowSave()"><ion-icon name="create" ></ion-icon></ion-button> 
          <!-- <ion-button fill="clear" size="small" color="primary" (click)="HideandShowCreate()"><ion-icon   name="add-circle-outline"></ion-icon></ion-button>  -->
          <ion-button fill="clear" size="small" color="danger"  (click)="HideandShowHISTORYPAPER()"><ion-icon name="folder"></ion-icon></ion-button>
        </div>   
        <img src="../../assets/Asset 8.svg">
    </div>
    
      <div class="matnames">
        <div class="codes">
         <p>pap005 <span>R {{ pricess.pap005 }}</span></p>
         <p>pap007 <span>R {{ pricess.pap007 }}</span></p>
         <p>pap001 <span>R {{ pricess.pap001 }}</span></p>
         <p>pap003 <span>R {{ pricess.pap003 }}</span></p>
        
          </div>
        <div class="manname">
          PAPER
        </div>
      </div>
    </div>
<!-- div holding form(EDIT PRICE) -->
<!-- plastic -->
    <div class="box" id="plastic">
      <div class="mat">
        <img src="../../assets/paper.svg">
<!-- <div class="burger"><ion-icon name="more"></ion-icon></div> -->
<div class="burgercontent2" [ngClass]="{'hide': !burger, 'show': burger}">
  <ion-button fill="clear" (click)="showMoreBtn2()"><ion-icon name="more"></ion-icon></ion-button>
 <ion-button fill="clear" size="small" color="success" (click)="HideandShowCreate()"><ion-icon name="create" ></ion-icon></ion-button> 
  <!-- <ion-button fill="clear" size="small" color="primary" ><ion-icon   name="add-circle-outline"></ion-icon></ion-button>  -->
  <ion-button fill="clear" size="small" color="danger" (click)="HideandShowHISTORYPPLASTIC()"><ion-icon name="folder"></ion-icon></ion-button>
</div>       

</div>
      <div class="matnames">
        <div class="codes">
          <p>hd001 <span>R{{ pricess.hd001 }}</span></p>
          <p>ld001 <span>R{{ pricess.ld001 }}</span></p>
          <p>ld003 <span>R{{ pricess.ld003 }}</span></p>
          <p>pet005 <span>R{{ pricess.pet005 }}</span></p>
          <p>pet001 <span>R{{ pricess.pet001 }}</span></p>
    </div>
        <div class="manname">
          PLASTIC
        </div>
      </div>
    </div>
    
    <!-- <h4>All Time Material</h4> -->
    <!-- glass -->
    <div class="box" id="glass">
      <div class="mat">
        <img src="../../assets/glassy.svg">
<!-- <div class="burger"><ion-icon name="more"></ion-icon></div> -->
<div class="burgercontent3" [ngClass]="{'hide': !burger, 'show': burger}">
  <ion-button fill="clear" (click)="showMoreBtn3()"><ion-icon name="more"></ion-icon></ion-button>
 <ion-button fill="clear" size="small" color="success" (click)="glassShow()"><ion-icon name="create" ></ion-icon></ion-button> 
  <!-- <ion-button fill="clear" size="small" color="primary" ><ion-icon   name="add-circle-outline"></ion-icon></ion-button>  -->
  <ion-button fill="clear" size="small" color="danger" (click)="HideandShowHISTORYGLASS()" ><ion-icon name="folder"></ion-icon></ion-button>
</div>       

</div>
<div class="matnames">
  <div class="codes">
    <p>gl001 <span>R {{ pricess.gl001 }}</span></p>
   
    </div>
  <div class="manname">
    GLASS
  </div>
</div>
    </div>
<!-- aluminium -->
    <div class="box" id="aluminium">
      <div class="mat">
        <img src="../../assets/Asset 8.svg">
<!-- <div class="burger"><ion-icon name="more"></ion-icon></div> -->
<div class="burgercontent4" [ngClass]="{'hide': !burger, 'show': burger}">
  <ion-button fill="clear" (click)="showMoreBtn4()"><ion-icon name="more"></ion-icon></ion-button>
 <ion-button fill="clear" size="small" color="success"  (click)="HideandShowDelete()"><ion-icon name="create" ></ion-icon></ion-button> 
  <!-- <ion-button fill="clear" size="small" color="primary"><ion-icon   name="add-circle-outline"></ion-icon></ion-button>  -->
  <ion-button fill="clear" size="small" color="danger" (click)="HideandShowHISTORYALUMINIUM()"><ion-icon name="folder"></ion-icon></ion-button>
</div>    
</div>
<div class="matnames">
  <div class="codes" >
    <p>nfalo1 <span>R {{ pricess.nfalo1 }}</span></p>
    
    </div>
  <div class="manname" >
    ALUMINIUM
  </div>
</div>
     
    </div>
    <!--<ion-button fill="clear" size="small" color="success"></ion-button> -->

  </div>
<div class="chartbuttons" padding>
<p></p>
<div class="dynamicBtns" padding>
  <ion-button id="daily" fill="clear" size="small" color="success" (click)="PullDayData()" (click)="toggleDaily()">Daily</ion-button>
  <ion-button  id="weekly"  fill="clear" size="small" color="success" (click)="PullWeekData()" (click)="toggleWeekly()">Weekly</ion-button>
  <ion-button  id="monthly"  fill="clear" size="small" color="success" (click)="PullMonthData()" (click)="toggleMonthly()">Monthly</ion-button>

</div>
</div>
  <!-- <p id="secondborder"></p> -->
  <div padding class="graphs"  >
    <!-- <ion-fab id="daily" >
      <ion-fab-button size="small" color="warning">D</ion-fab-button>   
     </ion-fab>

    <ion-fab  id="weekly">
      <ion-fab-button size="small" color="secondary">W</ion-fab-button>
    </ion-fab>

    <ion-fab id="montly">
      <ion-fab-button size="small" color="tertiary">M</ion-fab-button> 
       </ion-fab> -->

<!-- graph 1 -->
    <div  class="graph inbgraph" [ngClass]="{'graph1':viewingGraph=='graph1','graph1-h':viewingGraph!='graph1'}" (click)="transformGraph('graph1')" style="background: #FFF3C2;" >
      <canvas #barChart >
   
      </canvas>
      
    </div>
<!-- graph 2 -->
    <div class="graph inbgraph2" [ngClass]="{'graph2':viewingGraph=='graph2','graph2-h':viewingGraph!='graph2'}"  (click)="transformGraph('graph2')"  style="background: #FFCFE5;">
      <canvas #barChart1  ></canvas>
    </div>
<!-- graph 3 -->
    <div class="graph inbgraph3" [ngClass]="{'graph3':viewingGraph=='graph3','graph3-h':viewingGraph!='graph3'}"  (click)="transformGraph('graph3')"   style="background: #CCFFFE;">
      <canvas #barChart2></canvas>
      <!-- <ion-button class="" fill="solid">
        <ion-icon name="close"></ion-icon>
      </ion-button> -->
    </div>
  </div>

</div>

<div class="opacitydivs createDiv" [ngClass]="{'slideIn': create, 'slideOut': !create}">
<div padding class="editform2">
  <ion-button class="close"   fill="clear" (click)="HideandShowCreate()" slot="icon-only"><ion-icon mode="ios" name="close-circle"></ion-icon></ion-button>
  <h1>Edit Price for Plastic</h1>
  <input placeholder="HD001" [(ngModel)]="HD001price" type="number">
  <input placeholder="LD001" [(ngModel)]="LD001price" type="number">
  <input placeholder="LD003" [(ngModel)]="LD003price" type="number">
  <input placeholder="PET005" [(ngModel)]="PET005price" type="number">
  <input placeholder="PET001" [(ngModel)]="PET001price" type="number">
  <input placeholder="PET003price" [(ngModel)]="PET003price" type="number"> 
<button ion-button (click)="CheckInputsEmptyStringPlastics()">Save</button>
</div>
</div>
<div class="opacitydivs glassDiv" [ngClass]="{'slideIn': glass, 'slideOut': !glass}">
  <div padding class="editform2">
    <ion-button class="close"   fill="clear" (click)="glassShow()" slot="icon-only"><ion-icon mode="ios" name="close-circle"></ion-icon></ion-button>
    <h1>Edit Price For Glass </h1>
   
    <input placeholder="GH001" [(ngModel)]="GH001price" type="number">
    
  <button ion-button (click)="CheckInputsEmptyStringglass()">Save</button>
  </div>
  </div>
<!-- create new material -->
<div class="opacitydivs editDiv" [ngClass]="{'slideIn': edit, 'slideOut': !edit}">
  <div padding class="editform2">
    <ion-button class="close" fill="clear" (click)="HideandShowSave()" slot="icon-only"><ion-icon name="close-circle"></ion-icon></ion-button>
  <h1>Edit Price For Paper</h1>
  <input type="number" placeholder="PAP005" [(ngModel)]="PAP005price" type="number">
  <input type="number" placeholder="PAP007" [(ngModel)]="PAP007price" type="number">
 <input type="number" placeholder="PAP001"  [(ngModel)]="PAP001price" type="number">
 <input type="number" placeholder="PAP003"  [(ngModel)]="PAP003price" type="number">

<button ion-button  (click)="  CheckInputsEmptyStringPaper()">Save</button>
</div>
</div>
<!-- delete material -->
<div class="opacitydivs deleteDiv" [ngClass]="{'slideIn': delete, 'slideOut': !delete}">
<div padding class="editform2" >
  <ion-button class="close"  fill="clear" (click)="HideandShowDelete()"
   slot="icon-only"><ion-icon name="close-circle" ></ion-icon></ion-button>
  <h1>Edit Price For  AluminIum</h1>
 
  <input placeholder="NFAL01" [(ngModel)]="NFAL01price" type="number">
  
<button ion-button (click)="CheckInputsEmptyStringAlum()">Save</button>
</div>
</div>

<!-- DELETE DIVS FOR MATERIAL -->
<!-- history for paper -->
<div class="opacitydivs paperDiv" [ngClass]="{'slideIn': paper, 'slideOut': !paper}">
  <div padding id="history" class="editform2 test">
    <ion-button class="close"  fill="clear" (click)="HideandShowHISTORYPAPER()" slot="icon-only"><ion-icon name="close-circle"></ion-icon></ion-button>
  <h1>Keeping Track Of All Your Updates</h1>
  <div class="headers">
    <div class="one"><h2 style="padding-left: 5px !important;">Date</h2></div>
    <div class="one"><h2 >Old Pricing </h2></div>
    <div class="one"><h2  style="padding-right: 5px;text-align: left;">New Pricing</h2></div>
  </div>

  <div class="historydata" *ngFor="let paper of PaperArray">
    <div class="historydata2">
      <!-- <div class="two">{{myprice.timePlastic}}</div>  -->
    <div class="two">{{paper.timePaper}}</div>
    
    <div class="two">{{paper.newpap001}}</div>
    <div class="two">{{paper.newpap001}}</div>
    
    </div>
    <div class="historydata2">
      <!-- <div class="two">{{myprice.timePlastic}}</div>  -->
    <div class="two">{{paper.timePaper}}</div>
    <div class="two">{{paper.oldpap003}}</div>
    <div class="two">{{paper.newpap003}}</div>
    
    </div>

    <div class="historydata2">
      <!-- <div class="two">{{myprice.timePlastic}}</div>  -->
    <div class="two">{{paper.timePaper}}</div>
    <div class="two">{{paper.oldpap005}}</div>
    <div class="two">{{paper.newpap005}}</div>
    
    </div>

    <div class="historydata2">
      <!-- <div class="two">{{myprice.timePlastic}}</div>  -->
    <div class="two">{{paper.timePaper}}</div>
    <div class="two">{{paper.oldpap007}}</div>
    <div class="two">{{paper.newpap007}}</div>
    
    </div>

    

  </div>
 </div>
<!-- <p>date  old new <ion-icon name="trash"></ion-icon></p>
<p>date <span>R {{ pricess.pap005 }}</span></p>
<p>date <span>R {{ pricess.pap007 }}</span></p>
<p>date <span>R {{ pricess.pap001 }}</span></p>
<p>date <span>R {{ pricess.pap003 }}</span></p> -->
<!-- <button ion-button  (click)="checkinputfields()">Save</button> -->

</div>

<!-- history for plastic -->
<div class="opacitydivs plasticDiv" [ngClass]="{'slideIn': plastic, 'slideOut': !plastic}">
  <div padding class="editform2 test">
    <ion-button class="close"  fill="clear" (click)="HideandShowHISTORYPPLASTIC()" slot="icon-only"><ion-icon name="close-circle"></ion-icon></ion-button>
    <h1>Keeping Track Of All Your Updates</h1>
    <div class="headers">
      <div class="one"><h2 style="padding-left: 5px !important;">Date</h2></div>
      <div class="one"><h2 >Old Pricing</h2></div>
      <div class="one"><h2  style="padding-right: 5px;text-align: left;">New Pricing</h2></div>
    </div>
  
    <div class="historydata" *ngFor="let plastics of plasticarray">
      <div class="historydata2">
        <!-- <div class="two">{{myprice.timePlastic}}</div>  -->
      <div class="two">R{{plastics.timePlastic2}}</div>
      
      <div class="two">{{plastics.oldhd001}}</div>
      <div class="two">{{plastics.newhd001}}</div>
      
      </div>
  
  
     
      <div class="historydata2">
        <div class="two">R{{plastics.timePlastic2}}</div>
        <div class="two">{{plastics.oldld001}}</div>
        <div class="two">{{plastics.newld001}}</div>
      </div>

  
      <div class="historydata2">
        <div class="two">{{plastics.timePlastic2}}</div>
      <div class="two">{{plastics.oldld003}}</div>
      <div class="two">{{plastics.newld003}}</div>
      </div>
     
      <div class="historydata2">
        <div class="two">{{plastics.timePlastic2}}</div>
      <div class="two">{{plastics.oldpet003}}</div>
      <div class="two">{{plastics.newpet003}}</div>
      </div>


      <div class="historydata2">
        <div class="two">{{plastics.timePlastic2}}</div>
      <div class="two">{{plastics.oldpet001}}</div>
      <div class="two">{{plastics.newpet001}}</div>
      </div>

      <div class="historydata2">
        <div class="two">R{{plastics.timePlastic2}}</div>
      <div class="two">{{plastics.oldpet005}}</div>
      <div class="two">{{plastics.newpet005}}</div>
      </div>


      <!-- <div class="historydata2">
        <div class="two">R{{plastics.timePlastic2}}</div>
      <div class="two">{{plastics.oldpet005}}</div>
      <div class="two">{{plastics.newpet005}}</div>
      </div> -->

    </div>
</div>
</div>

<!-- history for glass -->
<div class="opacitydivs glassDiv " [ngClass]="{'slideIn': glassh, 'slideOut': !glassh}">
  <div padding class="editform2 test"  >
    <ion-button class="close"  fill="clear" (click)="HideandShowHISTORYGLASS()" slot="icon-only"><ion-icon name="close-circle"></ion-icon></ion-button>
    <h1>Keeping Track Of All Your Updates</h1>
    <div class="headers">
      <div class="one"><h2 style="padding-left: 5px !important;">Date</h2></div>
      <div class="one"><h2 >Old Pricing</h2></div>
      <div class="one"><h2  style="padding-right: 5px;text-align: left;">New Pricing</h2></div>
    </div>
  
    <div class="historydata" *ngFor="let glass of glassArray" >
      <div class="historydata2">
        <div class="two">{{glass.timeglass}}</div>
        <div class="two">R{{glass.newgl001}}</div>
        <div class="two">R{{glass .oldgl001}}</div>
      </div>
  

    </div>
</div>
</div>

<!-- history for alu -->
<div class="opacitydivs aluDiv" [ngClass]="{'slideIn': alu, 'slideOut': !alu}">
  <div padding class="editform2 test" *ngFor="let p of price">
    <ion-button class="close"  fill="clear" (click)="HideandShowHISTORYALUMINIUM()" slot="icon-only"><ion-icon name="close-circle"></ion-icon></ion-button>
    <h1>Keeping Track Of All Your Updates</h1>
    <div class="headers">
      <div class="one"><h2 style="padding-left: 5px !important;">Date</h2></div>
      <div class="one"><h2 >Old Pricing</h2></div>
      <div class="one"><h2  style="padding-right: 5px;text-align: left;">New Pricing</h2></div>
    </div>
  
    <div class="historydata">
      <div class="historydata2" *ngFor="let nfal001 of NFAL001Array">
        <div class="two">{{ nfal001.timePlastic }}</div>
        <div class="two">{{ nfal001.oldnfal01 }}</div>
        <div class="two">{{ nfal001.newnfal01 }}</div>
      </div>
  
    </div>
</div>
</div>

</ion-content>
